<div class="modal fade" id="about-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">About this site</h4>
      </div>
      <div class="modal-body">
        <p>This course website was built by Jeremy Nelson as a training and 
        learning system for <strong>Introduction to Redis</strong> in-person
        training using the following open-source software:
        </p>
        <ul>
         <li><a href="http://pocco.flask.org">Flask</a></li>
         <li><a href="http://getbootstrap.com/">Bootstrap</a></li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
