<div class="row">
 <article class="col-md-6">
  <h3>Background</h3>
  <p>
    At a recent digital library conference, a group made up of representatives 
    from a variety of different academic, public, and non-profit organizations like 
    <a href="http://dp.la">Digital Public Library of America</a>, 
    <a href="https://www.amherst.edu/">Amherst College</a>, 
    <a href="http://www.bpl.org/">Boston Public Library</a>, and 
    <a href=https://www.coloradocollege.edu">Colorado College</a> came together and organized 
    what eventually is a Python-based implementation of an open-source 
    <a href=https://github.com/jermnelson/linked-data-fragments">Linked Data Fragments server</a>  
    using the new Python 3.4 asyncio module for building a fast, lightweight network server 
    that uses Redis, a NoSQL datastore technology, for caching results. 
    This presentation will present the preliminary results from testing the Linked Data 
    Fragments server with large datasets from college library catalogs as well as 
    datasets from the Library of Congress and the DPLA.
  </p>
 </article>
 <section class="col-md-5 panel">
  <h3>Linked Data Fragments and SPARQL</h3>
 </section>
</div>
