<div class="row">
 <div class="col-md-9 panel panel-default">
  <div class="panel-body">
   <h2>Use Case: <small>Library Consortium Catalog</small></h2>
   <p class="lead">In my 2013 article, <a href="http://journal.code4lib.org/articles/7349">
   Building a Library App Portfolio with Redis and Django</a>, I sketched out a design for a 
   shared bibliographic Redis datastore among different types of libraries. 
   </p>
   <span class="pull-right">
   <img src="http://journal.code4lib.org/media/issue19/nelson/consortium-bibframe-datastores-500.png"><br>
   (Source <a href="http://journal.code4lib.org/articles/7349">Code4Lib</a>)
   </span>
   <p class="lead">
    I'll be using this design as an illustrative use case in the Topic examples through-out this course. 
    Two Linked Data vocabularies will be used; <a href="http://schema.org/">Schema.org</a>, a joint effort
    of Google, Microsoft, Yahoo, and Yandex for structuring data on the web, and 
    <a href="http://bibframe.org">BIBFRAME</a>, from the Library of Congress for representing physical and
    digital assets of a library.  
   </p> 
 </div>
 </div>
</div>
