{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Clustering and High Availability</h1>
  <p class="lead">
   Highlighting its role as an data-store in the enterprise, Redis 
   offers two operational modes; clustering and high availability
   for increased use and reliability as core IT infrastructure. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
<div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
     </div>
    </div>
 </div> 
</div>
<hr>
<h2>
<div class="row">
 <p>
 Start by downloading Redis 3.0 and installing by doing the following:
 </p>
 <div class="col-md-8">
  <pre>
$ wget https://github.com/antirez/redis/archive/3.0.0-rc1.tar.gz
$ tar xvf redis-3.0.0-rc1.tar.gz 
$ cd redis-3.0.0-rc1
$ make
  </pre>
 <p>
   
 </p>
  <pre>
$ pip install redis-py-cluster
  </pre>
 </div>
</row>
<hr>
<div class="row">
 <h2>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/security">http://redis.io/topics/security</a>
   </li>
  </ol>
</div>
{% endblock %}
