{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Clustering and High Availability</h1>
  <p class="lead">
   Highlighting its role as an data-store in the enterprise, Redis 
   offers two operational tools; clustering, available in Redis 3.0, 
   and Redis Sentinel, for high availability management of Redis 
   Instances. Both tools increased Redis use and reliability as 
   a core IT infrastructure. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
<div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <li><a href="#redis-cluster">Redis Cluster</a></li>
      <h4>Exercises</h4>
      <li><a href="#E3">Configuring and Running Redis Sentinel</a></li>
      <h4>Labs</h3>
      <li><a href="#lab1">Santa's Naughty-or-Nice Dashboard</a></li>
      <li><a href="#lab2">Elf Kanban 4 Toys</a></li>
      <h4><a href="#reference">References and Resources</a></h4>
     </div>
    </div>
 </div> 
</div>
<hr>
<h1>Redis Cluster <a name="redis-cluster"></a></h1>
<div class="row">
 <p>
 Start by downloading Redis 3.0 and installing by doing the following:
 </p>
 <div class="col-md-8">
 {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E1"></a><strong>Exercise:</strong> Configuring and Running Redis Cluster</h3>
   </div>
   <div class="panel-body">
    <p>Downloading and installing Redis 3.0</p>
   <pre>
$ wget https://github.com/antirez/redis/archive/3.0.0-rc1.tar.gz
$ tar xvf redis-3.0.0-rc1.tar.gz 
$ cd redis-3.0.0-rc1
$ make
   </pre>
   <p>
    Next, we'll manually create a minimal cluster with three master nodes and three
    slaves.    
   </p>
   <pre>
$ cd introduction-to-redis/10-clustering-and-ha/
$ mkdir cluster-test
$ cd cluster-test
$ mkdir 7000 7001 7002 7003 7004 7005
$ touch 7000/redis.conf
$ vi 7000/redis.conf
$ cp 7000/redis.conf 7001/.
$ vi 7001/redis.conf
...
$ cp ../../redis-3.0.0-rc1/src/redis-server .
$ cd 7000
$ ../redis-server redis.conf
# New terminal tab
$ cd ../7001
$ ../redis-server redis.conf
...
$ ../redis-server redis.conf

   </pre>
   <p>Install the Ruby Redis gem and run the <code>redis-trib.rb</code></p>
   <pre>
$ sudo gem install redis
$ cd ../../
$ ./redis-3.0.0-rc1/src/redis-trib.rb create --replicas 1 127.0.0.1:7000 127.0.0.1:7001 \
127.0.0.1:7002 127.0.0.1:7003 127.0.0.1:7004 127.0.0.1:7005
   </pre>
   </div>
  {# END example #}
  </div>
 </div>
 </div>
 {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E2"></a><strong>Exercise:</strong> Using Redis Cluster</h3>
   </div>
   <div class="panel-body">
 
   <p>After successfully running <code>redis-trib.rb</code>, you can interact with the cluster
    using <strong>redis-cli</strong></p>
   <pre>
$ redis-3.0.0-rc1/src/redis-cli -c -p 7000
127.0.0.1:7000> SET Book:1 "Gone with the Wind"
-> Redirected to slot [14335] located at 127.0.0.1:7002
OK
127.0.0.1:7002> SET Book:2 "Infinite Jest"
-> Redirected to slot [1948] located at 127.0.0.1:7000
OK
127.0.0.1:7000> GET Book:1
-> Redirected to slot [14335] located at 127.0.0.1:7002
"Gone with the Wind"
127.0.0.1:7002> GET Book:2
-> Redirected to slot [1948] located at 127.0.0.1:7000
"Infinite Jest"
127.0.0.1:7000> 
   </pre>
   <p>Redis commands that involve multiple keys, like <span class="label label-success">MSET</span> will
    not work with redis cluster</p>
   <pre>
127.0.0.1:7000> MSET Book:3 "Moby Dick" Book:4 "Pride and Prejudice" Book:5 "Tom Sawyer"
(error) CROSSSLOT Keys in request don't hash to the same slot
   </pre>
   </div>
  {# End example #}
  </div>
  </div>
 </div>
</row>
<hr>
<h1>Redis Sentinel <a name="sentinel"></a></h1>
<p class="lead">
 Redis Sentinel manages Redis instances through four main ways:
</p>
 <ul class="lead">
  <li><strong>Monitors</strong> running Redis masters and slaves</li>
  <li><strong>Notifies</strong> system administrators or monitoring software of problems with Redis instances</li>
  <li><strong>Automatic failover</strong> by promoting running slaves to master if a master instance is 
  experiencing problems</li>
  <li><strong>Configuration provider</strong> for clients to connect and discover the address for a given
   Redis master.</li> 
 </ul>
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E3"></a><strong>Exercise:</strong> Configuring and Running Redis Sentinel</h3>
   </div>
   <div class="panel-body">
    <p>
     Snippet from <code>sentinel.conf</code> 
    </p>
    <pre>
# dir <working-directory>
dir /tmp

# sentinel monitor <master-name> <ip> <redis-port> <quorum>
sentinel monitor mymaster 127.0.0.1 6379 2

# Default is 30 seconds.
sentinel down-after-milliseconds mymaster 30000
    </pre>
    <p>Running Redis Sentinel can be accomplished either with the <code>redis-sentinel</code> binary or
    by passing the <strong>--sentinel</strong> parameter when running <code>redis-server</code>. Both
    options require a <code>sentinel.conf</code> file. 
    </p>
    <pre>
$ redis-sentinel /path/to/sentinel.conf
$ redis-server /path/to/sentinel.conf --sentinel
    </pre>
    <p>You can connect directly to the sentinel with <code>redis-cli</code> and query to find the status of
    monitored Redis instances</p>
{% set current_redis = " "|latest_redis %}
    <pre>
$ ../{{ current_redis.name }}/src/redis-cli -p 26379 
127.0.0.1:26379> PING
PONG
127.0.0.1:26379> SENTINEL masters
127.0.0.1:26379> SENTINEL slaves mymaster
    </pre>
   </div>
  {# END Exercise #}
  </div>
 </div>
</div>
<hr>
{% import 'snippets/labs.html' as labs %}
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-6 well well-sm"><a name="lab1"></a>
   {% set dashboard = 'Create a Redis sentinel instance that monitors all Redis master/slaves for the dashboard' %}
  {{ labs.lab("Santa's Naughty-or-Nice Dashboard", 'img/list64.png', dashboard) }} 
  </div>
  <div class="col-md-6 well well-sm"><a name="lab2"></a>
   {% set kanban = 'Create a Redis Cluster for the Kanban 4 Toys process' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>
</div>
<hr>
<div class="row">
 <h2><a name="reference"></a>References and Resources</h2>
  <ol>
    <li>From the redis.io website:
     <a href="http://redis.io/topics/cluster-tutorial">Redis cluster tutorial</a>
   </li>
   <li>
     <a href="https://github.com/Grokzen/redis-py-cluster">redis-py-cluster</a>
   </li>
   <li>
    <a href="http://redis.io/topics/sentinel">Redis Sentinel Documentation</a>
   </li>
  </ol>
</div>
{% endblock %}
