{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Clustering and High Availability</h1>
  <p class="lead">
   Highlighting its role as an data-store in the enterprise, Redis 
   offers two operational tools; clustering, available in Redis 3.0, 
   and Redis Sentinel, for high availability management of Redis 
   Instances. Both tools increased Redis use and reliability as 
   a core IT infrastructure. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
<div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <li><a href="#redis-cluster">Redis Cluster</a></li>
      <h4>Exercises</h4>
      <li><a href="#E3">Configuring and Running Redis Sentinel</a></li>
      <h4><a href="#reference">References and Resources</a></h4>
     </div>
    </div>
 </div> 
</div>
<hr>
<h1>Redis Cluster <a name="redis-cluster"></a></h1>
<p class="lead">
Redis Cluster provides one method of running Redis where data is 
sharded across multiple Redis instances while providing a degree 
of availability for continuing operations in the event of a node failing
or a communication issue. 
</p>
<p class="lead">
  Nodes in the Redis Cluster use the Redis cluster protocol to connect with 
  every other node in the Redis cluster for a mesh network topology. 
  Nodes communicate using a TCP gossip protocol and along with a configuration 
  update mechanism in order to reduce the number of messages being exchanged between nodes. 
</p>
<div class="row">
    <section class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h4 class='card-title'>Composite Partitioning</h4>
                 <p class="card-text">Redis cluster uses a form of composite 
                 partitioning called consistent hashing that calculates what 
                 Redis instance any particular key is assigned called 
                 a <strong>hash slot</strong>.
                </p>
                <p class="card-text">The hash slot is the CRC16 hash 
                algorithm applied to the key and then the computation of a modulo using 16384. 
                The specific algorithm used by Redis cluster to calculate the hash slot for a key:
                <ol>
                    <li>The cyclic redundancy check (CRC) using a polynomial length of 17-bits or CRC16 
                     is calculated on the Redis key </li>
                    <li>The modulo 16384 of the value is then calculated to get the 
                      <strong>hash slot</strong> for the key.</li>
                </ol>
                <p >
                Each master node is assigned a sub-range of hash slots and the key and value 
                will reside on that Redis instance.
               </p>
            </div>
        </div>    
         </section>
    <section class="col-md-6">
     When a Redis cluster is running, each node has two TCP sockets open:
     <ul>
         <li>First is the standard Redis protocol for connecting clients
         (default port 6379 for the first node)</li>
         <li>Second port is calculated from the sum of the first port 
         plus 10000 (16379 for the default port) and binary protocol for 
         node-to-node communication.</li>
     </ul>

Clients should never need to connect directly with the cluster bus port but with the lower, standard port. 
    </section>
</div>

<h2 class="text-xs-center">Six-Node Redis Cluster</h2>
<div class="row">
    <section class="col-md-7">
       <img src="{{ url_for('static', filename='img/six-node-redis-cluster.png') }}">
    </section> 
    <section class="col-md-5">
        <p>To illustrate all of the features of Redis Cluster, the minimum recommended
        Redis cluster setup is to have a 3 Master Redis nodes with each master node replicated with a 
        single Redis slave instance node. Each Master Node hash slots are broken down as</p> 
        <div class="alert alert-danger">
            <strong>Master One (M1)</strong> - allocated hash slots 0-5460
        </div>
        <div class="alert alert-info">
            <strong>Slave One (S1)</strong> replicates Master One, is promoted if a quorum of 
            nodes cannot reach Master One.
        </div>
        <div class="alert alert-danger">
            <strong>Master Two (M2)</strong> - allocated hash slots 5461-10922
        </div>
        <div class="alert alert-info">
            <strong>Slave Two (S2)</strong> replicates Master Two, is promoted if a quorum of 
            nodes cannot reach Master Two.
        </div>
        <div class="alert alert-danger">
            <strong>Master Three (M3)</strong> - allocated hash slots 10923-16383
        </div>
        <div class="alert alert-info">
            <strong>Slave Three (S3)</strong> replicates Master Three, is promoted if a quorum of 
            nodes cannot reach Master Three.
        </div>

    </section> 
</div>
<div class="row">
 <div class="col-md-8">
 {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E1"></a><strong>Exercise:</strong> Configuring and Running Redis Cluster</h3>
   </div>
   <div class="panel-body">
   <p>
    We'll start by manually create a minimal cluster with three master nodes and three
    slaves.    
   </p>
   <pre>
$ cd introduction-to-redis/clustering-and-ha/
$ mkdir cluster-test
$ cd cluster-test
$ mkdir 7000 7001 7002 7003 7004 7005
$ touch 7000/redis.conf
$ vi 7000/redis.conf
$ cp 7000/redis.conf 7001/.
$ vi 7001/redis.conf
...
$ cp ~/redis-3.0.2/src/redis-server .
$ cd 7000
$ ../redis-server redis.conf
# New terminal tab
$ cd ../7001
$ ../redis-server redis.conf
...
$ ../redis-server redis.conf

   </pre>
   <p>Install the Ruby Redis gem and run the <code>redis-trib.rb</code></p>
   <pre>
$ sudo gem install redis
$ cd ../../
$ .~/redis-3.0.2/src/redis-trib.rb create --replicas 1 127.0.0.1:7000 127.0.0.1:7001 \
127.0.0.1:7002 127.0.0.1:7003 127.0.0.1:7004 127.0.0.1:7005
   </pre>
   </div>
  {# END example #}
  </div>
 </div>
 <section class="col-md-4">
     <div class="well well-sm">
       <h4>Sample <strong style="color: red; font-size: 1.1em">redis.conf</strong></h4>
                <p class="card-text">Here is the example <code>redis.conf</code> we are
                using for each of Redis cluster nodes</p>
                <pre>
port 7000
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
appendonly yes
                </pre>
                <p class="card-text">We need to change the port number to the correct value for the node, i.e.
                for node 7002, we need specify the correct port number for that node's <code>redis.conf</code>
                configuration file.</p>
            </div>

 </section>
 </div>
 {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E2"></a><strong>Exercise:</strong> Using Redis Cluster</h3>
   </div>
   <div class="panel-body">
 
   <p>After successfully running <code>redis-trib.rb</code>, you can interact with the cluster
    using <strong>redis-cli</strong></p>
   <pre>
$ ~/redis-3.0.2/src/redis-cli -c -p 7000
127.0.0.1:7000> SET Book:1 "Moby Dick"
-> Redirected to slot [14335] located at 127.0.0.1:7002
OK
127.0.0.1:7002> SET Book:2 "Infinite Jest"
-> Redirected to slot [1948] located at 127.0.0.1:7000
OK
127.0.0.1:7000> GET Book:1
-> Redirected to slot [14335] located at 127.0.0.1:7002
"Gone with the Wind"
127.0.0.1:7002> GET Book:2
-> Redirected to slot [1948] located at 127.0.0.1:7000
"Infinite Jest"
127.0.0.1:7000> 
   </pre>
   <p>Redis commands that involve multiple keys, like <span class="label label-success">MSET</span> will
    not work with redis cluster</p>
   <pre>
127.0.0.1:7000> MSET Book:3 "Moby Dick" Book:4 "Pride and Prejudice" Book:5 "Tom Sawyer"
(error) CROSSSLOT Keys in request don't hash to the same slot
   </pre>
   </div>
  {# End example #}
  </div>
  </div>
 </div>
</div>
<h2>Easier Redis Cluster with <em>create-cluster</em> script</h2>
<div class="row">
    <section class="col-md-4">
        <p class="lead">Instead of manually setting up and running a Redis 
        cluster, you can instead use the <em>create-cluster</em> located in the 
        <code>redis/utils/create-cluster</code>.
        </p>
    </section>
    <section class="col-md-8">
    <p>Starting in the <em>create-cluster</em> directory, follow these
    steps to get a 6-node Redis Cluster with 3 masters and 3 slaves.</p>
    <ol class="lead">
        <li>Create a <code>config.sh</code> script:
        <pre>
#!/bin/bash
PORT=7000
TIMEOUT=2000
NODES=6
REPLICAS=1
        </pre></li>    
        <li>Start Redis Cluster:
        <pre>
~/redis/utils/create-cluster$ ./create-cluster start
Starting 7001
Starting 7002
Starting 7003
Starting 7004
Starting 7005
Starting 7006
        </pre></li>
        <li>Link and create the Redis Cluster</li>
        <pre>
>>> Creating cluster
>>> Performing hash slots allocation on 6 nodes...
Using 3 masters:
127.0.0.1:7001
127.0.0.1:7002
127.0.0.1:7003
Adding replica 127.0.0.1:7004 to 127.0.0.1:7001
Adding replica 127.0.0.1:7005 to 127.0.0.1:7002
Adding replica 127.0.0.1:7006 to 127.0.0.1:7003
M: 1379949e7d8eaa27a0634285e521079eccc0cc1f 127.0.0.1:7001
   slots:0-5460 (5461 slots) master
M: 470bf4397e0002f211df09dadcd5ec12b458e9c3 127.0.0.1:7002
   slots:5461-10922 (5462 slots) master
M: 7e343391d165ccee34e0f1cf43590270130a9d5b 127.0.0.1:7003
   slots:10923-16383 (5461 slots) master
S: 3d8c532367f0846f292b538d09b7cafdc6b3c6b9 127.0.0.1:7004
   replicates 1379949e7d8eaa27a0634285e521079eccc0cc1f
S: 491abeb14973c0c9495f1b045b4e5d3f0729bcc8 127.0.0.1:7005
   replicates 470bf4397e0002f211df09dadcd5ec12b458e9c3
S: 933258e1d5ed8752c7e4ff7ce377dfd63543977f 127.0.0.1:7006
   replicates 7e343391d165ccee34e0f1cf43590270130a9d5b
Can I set the above configuration? (type 'yes' to accept): yes
>>> Nodes configuration updated
>>> Assign a different config epoch to each node
>>> Sending CLUSTER MEET messages to join the cluster
Waiting for the cluster to join..
>>> Performing Cluster Check (using node 127.0.0.1:7001)
M: 1379949e7d8eaa27a0634285e521079eccc0cc1f 127.0.0.1:7001
   slots:0-5460 (5461 slots) master
M: 470bf4397e0002f211df09dadcd5ec12b458e9c3 127.0.0.1:7002
   slots:5461-10922 (5462 slots) master
M: 7e343391d165ccee34e0f1cf43590270130a9d5b 127.0.0.1:7003
   slots:10923-16383 (5461 slots) master
M: 3d8c532367f0846f292b538d09b7cafdc6b3c6b9 127.0.0.1:7004
   slots: (0 slots) master
   replicates 1379949e7d8eaa27a0634285e521079eccc0cc1f
M: 491abeb14973c0c9495f1b045b4e5d3f0729bcc8 127.0.0.1:7005
   slots: (0 slots) master
   replicates 470bf4397e0002f211df09dadcd5ec12b458e9c3
M: 933258e1d5ed8752c7e4ff7ce377dfd63543977f 127.0.0.1:7006
   slots: (0 slots) master
   replicates 7e343391d165ccee34e0f1cf43590270130a9d5b
[OK] All nodes agree about slots configuration.
>>> Check for open slots...
>>> Check slots coverage...
[OK] All 16384 slots covered.
        </pre></li>
        <li>Stopping Redis Cluster
        <pre>
$ ./create-cluster stop
Stopping 7001
Stopping 7002
Stopping 7003
Stopping 7004
Stopping 7005
Stopping 7006
        </pre></li>
    </ol>
    </section>
</div>


<hr>
<h1>Redis Sentinel <a name="sentinel"></a></h1>
<div class="row">
<section class="col-md-4">
<p class="lead">
 Redis Sentinel manages Redis instances through four main ways:
</p>
 <ul class="lead">
  <li><strong>Monitors</strong> running Redis masters and slaves</li>
  <li><strong>Notifies</strong> system administrators or monitoring software of problems with Redis instances</li>
  <li><strong>Automatic failover</strong> by promoting running slaves to master if a master instance is 
  experiencing problems</li>
  <li><strong>Configuration provider</strong> for clients to connect and discover the address for a given
   Redis master.</li> 
 </ul>
</section>
<section class="col-md-6">
  <img src="{{ url_for("static", filename="img/sentinel.png") }}">
</section>
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
    <h3 class="panel-title"><a name="E3"></a><strong>Exercise:</strong> Configuring and Running Redis Sentinel</h3>
   </div>
   <div class="panel-body">
    <p>
     Snippet from <code>sentinel.conf</code> 
    </p>
    <pre>
# dir <working-directory>
dir /tmp

# sentinel monitor <master-name> <ip> <redis-port> <quorum>
sentinel monitor mymaster 127.0.0.1 6379 2

# Default is 30 seconds.
sentinel down-after-milliseconds mymaster 30000
    </pre>
    <p>Running Redis Sentinel can be accomplished either with the <code>redis-sentinel</code> binary or
    by passing the <strong>--sentinel</strong> parameter when running <code>redis-server</code>. Both
    options require a <code>sentinel.conf</code> file. 
    </p>
    <pre>
$ redis-sentinel /path/to/sentinel.conf
$ redis-server /path/to/sentinel.conf --sentinel
    </pre>
    <p>You can connect directly to the sentinel with <code>redis-cli</code> and query to find the status of
    monitored Redis instances</p>
{% set current_redis = " "|latest_redis %}
    <pre>
$ ../{{ current_redis.name }}/src/redis-cli -p 26379 
127.0.0.1:26379> PING
PONG
127.0.0.1:26379> SENTINEL masters
127.0.0.1:26379> SENTINEL slaves mymaster
    </pre>
   </div>
  {# END Exercise #}
  </div>
 </div>
</div>
<hr>
{% import 'snippets/labs.html' as labs %}
<div class="row">
 <h2><a name="reference"></a>References and Resources</h2>
  <ol>
    <li>From the redis.io website:
     <a href="http://redis.io/topics/cluster-tutorial">Redis cluster tutorial</a>
   </li>
   <li>
     <a href="https://github.com/Grokzen/redis-py-cluster">redis-py-cluster</a>
   </li>
   <li>
    <a href="http://redis.io/topics/sentinel">Redis Sentinel Documentation</a>
   </li>
  </ol>
</div>
{% endblock %}
