{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Introducing Redis, the instructor, and this course</h1>
  
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#what-is">What is Redis</a></li>
    <li><a href="#instructor">About the Instructor</a></li>
    <li><a href="#schedule">Course Schedule</a></li>
   </div>
  </div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-10 col-md-offset-2">
  <h2 style="color: rgb(164,26,17)">What is Redis?<a name="what-is"></a></h2>
   <p class="lead">
    Redis is an open-source NoSQL key-value datastore where instead of storing just one
    type of value, such as a string, more complex types of values can be stored. Redis,
    short for <strong>RE</strong>mote <strong>DI</strong>ctionary <strong>S</strong>erver, 
    was created and is actively maintained and developed by Salvatore Sanfilippo.
   </p>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
   <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">About the Instructor<a name="instructor"></a></h3>
     </div>
     <div class="panel-body">
      <p> 
      Jeremy Nelson is the Metadata and Systems Librarian at 
      <a href="https://www.coloradocollege.edu/">Colorado College</a>,
      a private liberal arts college located in Colorado Springs. Prior
      to becoming a librarian, Nelson worked a number of different software
      and financial services companies as a project manager and programmer.
      After receiving his Masters in Library and Information Science from 
      the University of Illinois in 2003; Nelson worked as a professional
      librarian at the University of Utah and Western State University of 
      Colorado before joining Colorado College in 2010.
      </p>
      <p>
       Nelson's experience with Redis started in 2011 when he started 
       experimenting using Redis as a bibliographic datastore, representing
       library's physical and digital material using both legacy formats 
       like <a href="http://www.loc.gov/marc/bibliographic/">MARC21</a>, and newer, more 
       linked-data based vocabularies like <a href="http://rdvocab.info/">Resource 
       Description and Access (RDA)</a>, <a href="http://schema.org/">schema.org</a> and
       <a href="http://bibframe.org/">BIBFRAME</a>. He has 
       <a href="http://journal.code4lib.org/articles/7349">published</a> and presented at
       <a href="http://tuttdemo.coloradocollege.edu/ala2013/">national library conferences</a> 
       in <a href="http://discovery.coloradocollege.edu/code4lib/">2012</a>
       and <a href="http://tuttdemo.coloradocollege.edu/code4lib/">2013</a>. Currently, Nelson
       is working on a major project with the Library of Congress in implementing a new 
       BIBFRAME catalog using <a href="http://fedorarepository.org/">Fedora Commons digital repository</a>,
       <a href="http://www.elasticsearch.org/">Elastic search</a>, and of course, Redis.
      </p>
     </div>
   </div>
   <h2>Exercises and Lab Assignments</h2>
    <p class="lead">Each topic will have hands-on exercises using Redis as well as lab assignments that build upon 
    previous lab work in a functioning application.
    </p> 
   {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Setup of Training Environment</h3>
    </div>
    <div class="panel-body">
     <p>We will be using both an Ubuntu VM as well as the local workstation for the class exercises and labs. 
      Specific directions for using the Introduction to Redis virtual machine are available 
      <a href="{{ url_for('redis_course_vm') }}">here</a>.
     </p>
    </div>
   {# END Exercise #}
   </div>
  </div>
  {# START About Course #}
  <div class="col-md-8 well">
    <h2>Schedule<a name="schedule"></a> </h2>
    <h3>Day 1</h3>
    <ul class="lead">
    {% for key in ['introducing-redis', 'basic-setup-and-admin', 'operating-a-redis-system', 'redis-data-types'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
    {% endfor %}
    </ul>
    <h3>Day 2</h3>
    <ul class="lead">
     {% for key in ['replication-and-pubsub', 'pipelining-and-mass-insertions', 'memory-expiration-and-key-eviction', 'transactions-and-locks'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
     {% endfor %}
    </ul>
    <h3>Day 3</h3>
    <ul class="lead">
     {% for key in ['programming-redis', 'lua-scripting', 'clustering-and-ha', 'security'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
     {% endfor %}
    </ul>
 
  {# END About Course #}
  </div>
</div>
<hr>
<h1>Lab Applications</h1>  
<div class="row">
 <div class="col-md-6 col-md-offset-4">
  <h2>Your choice &hellip;</h2>
  <p class="lead">To make this Redis training more relevant, we will create a number of
  user cases of how you might use Redis to address a professional or personal problem or issue. 
  During each topic's lab session, you can either decide which of the use cases to explore or 
  we can divide into small teams for exploring Redis in the context of the problem you're attempt
  to solve. 
  </p>
 </div>
</div>
<div class="row">
 <div class="col-md-9 panel panel-default">
  <div class="panel-body">
   <h2>Use Case: <small>Library Consortium Catalog</small></h2>
   <p class="lead">In my 2013 article, <a href="http://journal.code4lib.org/articles/7349">
   Building a Library App Portfolio with Redis and Django</a>, I sketched out a design for a 
   shared bibliographic Redis datastore among different types of libraries. 
   </p>
   <span class="pull-right">
   <img src="http://journal.code4lib.org/media/issue19/nelson/consortium-bibframe-datastores-500.png"><br>
   (Source <a href="http://journal.code4lib.org/articles/7349">Code4Lib</a>)
   </span>
   <p class="lead">
    I'll be using this design as an illustrative use case in the Topic examples through-out this course. 
    Two Linked Data vocabularies will be used; <a href="http://schema.org/">Schema.org</a>, a joint effort
    of Google, Microsoft, Yahoo, and Yandex for structuring data on the web, and 
    <a href="http://bibframe.org">BIBFRAME</a>, from the Library of Congress for representing physical and
    digital assets of a library.  
   </p> 
  </div>
 </div>
 
 <div class="col-md-6 panel panel-default">
  <div class="panel-body">
  <h2>Santa's Workshop</h1>
  <img src="{{ url_for('static', filename='img/santa.png') }}" class="pull-right">
  <p class="lead">To help contextualizing the Redis topics being covered through-out this course,
   we're going to see how Redis can be put to work improving the operations of Santa Claus's 
   workshop.  
  </p>
  <ul class="media-list">
   <li class="media">
    <a class="media-left" href="#">
      <img src="{{ url_for('static', filename='img/toy64.png') }}" alt="Elf Toy Design Catalog">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Elf Kanban 4 Toys</h4>
      This application models a simple three-bin Kanban system for 
      toy manufacturing in Santa's workshop.  Designs
      will be modeled as Redis datatypes using a key schema from 
      <a href="http://schema.org/">schema.org</a>
      Redis topics: <a href="{{ url_for('topic_view', topic='redis-data-types') }}">Redis Datatypes</a>,
      <a href="{{ url_for('topic_view', topic='operating-a-redis-system') }}">Operating a Redis System</a>
    </div>
   </li>
   <li class="media">
    <a class="media-left" href="#">
      <img src="{{ url_for('static', filename='img/list64.png') }}" alt="Santa Sleigh's Dashboard">
    </a>
    <div class="media-body">
      <h4 class="media-heading"> Santa Naughty or Nice List</h4>
      <p>To assist Santa in picking toys for all the boys and girls in the world and as the primary
      source of demand for the new Elves Kanban 4 toys manufacturing project, Santa's venerable 
      "naught-or-nice" list will be updated to a new web-based dashboard app.</p>
             
    </li> 
  </ul>
 </div>
</div>
</div>
{% endblock %}
