{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Introducing Redis, the instructor, and this course</h1>
  
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#what-is">What is Redis</a></li>
    <li><a href="#instructor">About the Instructor</a></li>
    <li><a href="#schedule">Course Schedule</a></li>
   </div>
  </div>
 </div>
</div>
<hr>
<div class="row">
 <section class="col-md-3">
   <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#mastering-redis-book-dlg">
      <span class="glyphicon glyphicon-book"></span>
      Warning, Book Plug!
   </button>
<div class="modal fade" id="mastering-redis-book-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-book"></span> Book Plug!</h4>
      </div>
      <div class="modal-body">
       <h3><em>Mastering Redis</em> coming in 2016</h3>
       <img src="{{ url_for('static', filename='img/redis.png') }}" class="thumbnail pull-left">
       <p>I am writing 
          <em>Mastering Redis</em>, for Packt Publishing 
            with a projected publication date of early 2016. 
       </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 </section>
 <div class="col-md-9 ">

  <h2 style="color: rgb(164,26,17)">What is Redis?<a name="what-is"></a></h2>
   <p class="lead">
    Redis is an open-source NoSQL key-value datastore where instead of storing just one
    type of value, such as a string, more complex types of values can be stored. Redis,
    short for <strong>RE</strong>mote <strong>DI</strong>ctionary <strong>S</strong>erver, 
    was created and is actively maintained and developed by Salvatore Sanfilippo.
   </p>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
   <div class="panel panel-info">
     <div class="panel-heading">
      <h3 class="panel-title">About the Instructor<a name="instructor"></a></h3>
     </div>
     <div class="panel-body">
      <p> 
      Jeremy Nelson is the Metadata and Systems Librarian at 
      <a href="https://www.coloradocollege.edu/">Colorado College</a>,
      a private liberal arts college located in Colorado Springs. Prior
      to becoming a librarian, Nelson worked a number of different software
      and financial services companies as a project manager and programmer.
      After receiving his Masters in Library and Information Science from 
      the University of Illinois in 2003; Nelson worked as a professional
      librarian at the University of Utah and Western State University of 
      Colorado before joining Colorado College in 2010.
      </p>
        <p>
       Nelson's experience with Redis started in 2011 when he started 
       experimenting using Redis as a bibliographic datastore, representing
       library's physical and digital material using both legacy formats 
       like <a href="http://www.loc.gov/marc/bibliographic/">MARC21</a>, and newer, more 
       linked-data based vocabularies like <a href="http://rdvocab.info/">Resource 
       Description and Access (RDA)</a>, <a href="http://schema.org/">schema.org</a> and
       <a href="http://bibframe.org/">BIBFRAME</a>. He has 
       <a href="http://journal.code4lib.org/articles/7349">published</a> and presented at
       <a href="http://tuttdemo.coloradocollege.edu/ala2013/">national library conferences</a> 
       in <a href="http://discovery.coloradocollege.edu/code4lib/">2012</a>
       and <a href="http://tuttdemo.coloradocollege.edu/code4lib/">2013</a>. Currently, Nelson
       is working on a major project with the Library of Congress in implementing a new 
       BIBFRAME catalog using <a href="http://fedorarepository.org/">Fedora Commons digital repository</a>,
       <a href="http://www.elasticsearch.org/">Elastic search</a>, and of course, Redis.
      </p>
     </div>
   </div>
   <h2>Exercises and Lab Assignments</h2>
    <p class="lead">Each topic will have hands-on exercises using Redis as well as lab assignments that build upon 
    previous lab work in a functioning application.
    </p> 
   {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Setup of Training Environment</h3>
    </div>
    <div class="panel-body">
     <p>We will be using both an Ubuntu VM as well as the local workstation for the class exercises and labs. 
      Specific directions for using the Introduction to Redis virtual machine are available 
      <a href="{{ url_for('redis_course_vm') }}">here</a>.
     </p>
    </div>
   {# END Exercise #}
   </div>
  </div>
  {# START About Course #}
  <div class="col-md-8">
   <section class="well">
    <h2>Schedule<a name="schedule"></a> </h2>
    <h3>Day 1</h3>
    <ul class="lead">
    {% for key in ['introducing-redis', 'basic-setup-and-admin', 'redis-data-types', 'operating-a-redis-system'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
    {% endfor %}
    </ul>
    <h3>Day 2</h3>
    <ul class="lead">
     {% for key in ['replication-and-pubsub', 'pipelining-and-mass-insertions', 'memory-expiration-and-key-eviction', 'transactions-and-locks'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
     {% endfor %}
    </ul>
    <h3>Day 3</h3>
    <ul class="lead">
     {% for key in ['programming-redis', 'lua-scripting', 'clustering-and-ha', 'security'] %}
     <li><a href="{{ url_for('topic_view', topic=key) }}">{{ topics[key].get('title') }}</a></li>
     {% endfor %}
    </ul>
   </section>
   <article>
    <p class="lead">To keep track of your questions, comments, and notes; this
     site uses <a href="https://hypothes.is/">https://hypothes.is/</a>. 
    </p>
   </article> 
  {# END About Course #}
  </div>
</div>
<h1>History of Redis</h1>
<section class="row">
  <article class="col-md-9 col-md-offset-1" id="history-of-redis">
	<p>
	In the mid-2000s, Salvatore Sanfilippo - Redis's principle developer and 
	maintainer - together with a partner started a free web service called LLOOGG. LLOOGG 
	displayed, in near real-time, visitors access and usage patterns on a website
	for viewing by administrators and other interested individuals. 
	 Sanfilippo and his startup
	developed and released LLOOGG as a PHP application that parsed web server log 
	files into a MySQL database back-end with a dynamically generated HTML view of the 
	web server's activity. 
	</p>
        <img src="{{ url_for("static", filename="img/lloogg.png") }}" 
          alt="LLOOGG Screenshot of Redis.io traffic" class="thumbnail pull-left">
	{#<p>
	Prior to developing LLOOGG, Sanfilippo worked as a system administrator in Italy 
	where he began focusing on the computer security as part of his work.  Sanfilippo 
	initially gained notice by inventing the *idle scan* network attack in 1998 along 
	with developing the popular open-source TCP/IP packet assembler and analyzer tool called hping. 
	In an *idle scan* attack, spoofed packets are sent to a target computer to find out 
	what TCP ports are open through a third, "zombie" computer intermediary. 
	</p>#}
	<p>
	In working on LLOOGG, Sanfilippo increasingly ran into scalability issues with 
	MySQL as the database was being swamped by writes although performing fine with reading
	tabular data, As Sanfilippo says in a 2013 interview, <blockquote>I started to realize that what I needed 
	was an in-memory database with support for complex data structures</blockquote>. As he explored how 
	to achieve better performance, the first inklings of a new type of key-value data storage that
	would eventually would become the open-source project Redis officially started on April 
	10th, 2009. 
	</p>
	<p>
	Early in the development of Redis, Sanfilippo refactored LLOOGG by replacing its relational-data
	model in MySQL for Redis. His intention for swapping out the data storage was to test the
	capabilities of Redis with the traffic generated from a running instance of LLOOGG. 
	LLOOGG's sizable web traffic helped in the testing of early, unstable versions of Redis. 
	Although Sanfilippo claims that switching to Redis for the LLOOGG project did not result in the 
	discovery of new bugs, this switch did allowed Sanfilippo to design and architect Redis, 
	while other individuals started using and testing Redis with much larger 
	datasets and at larger scales. This work was the beginnings of the lean, small, and fast code-base 
	that is today's version of Redis.  
	</p>
	<p>
	The first stable Redis 3.0.0 version was released for production use on April 1st, 2015, 
	almost six years after the initial start of the Redis project. 
	While the size, types of commands, and data-structures have increased in number over those
	six years, the overall goals and performance expectations of Redis have not changed that
	much from Sanfilippo initial ideas about replacing MySQL with Redis for the LLOOGG project. Redis
	is still an in-memory database, although it now has more options for persisting that data
	to disk, in addition to a number of powerful and sophisticated commands for the different data
	structures that are now possible to store and manipulate data in Redis. The biggest change in 
	Redis 3.0 is the inclusion of Redis Cluster, a mode of operating Redis with multiple 
	instances where data is automatically sharded across those nodes.  
	</p>
  </article>
</section>
<hr>
<h1>Lab Applications &amp; Use Cases</h1>  
<div class="row"> 
 <section class="col-md-8 well well-sm">
   <h2>About</h2>
   <p class="lead">
     After each topic, we will have a short break and then come back 
     for a lab section where we'll either meet as a group or in smaller
     groups to discuss and experiment with the topics from our Redis
     training.  
   </p>
 </section>
 <div class="col-md-4">
  <h3>Your choice &hellip;</h3>
  <p class="lead">To make this Redis training more relevant, 
    we can focus on your own problem or use case that 
   interested in solving with Redis during the lab application time.
   At least for the first three-to-four topics, it may be easier to use
   my own use cases but we'll just see how the course flows over
   the three days.</p> 
 </div>
</div>
<h2>Current Use Case</h2>
{% include 'snippets/ldfs-about.html' %}
<hr>
<h2>Past Use Cases</h2>
{% include 'snippets/lib-consortium-catalog.html' %}
 {#
 <div class="col-md-6 panel panel-default">
  <div class="panel-body">
  <h2>Santa's Workshop</h1>
  <img src="{{ url_for('static', filename='img/santa.png') }}" class="pull-right">
  <p class="lead">To help contextualizing the Redis topics being covered through-out this course,
   we're going to see how Redis can be put to work improving the operations of Santa Claus's 
   workshop. At the beginning of the lab, examples   
  </p>
  <ul class="media-list">
   <li class="media">
    <a class="media-left" href="#">
      <img src="{{ url_for('static', filename='img/toy64.png') }}" alt="Elf Toy Design Catalog">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Elf Toy Design Catalog</h4>
      This application organizes all of the different toy designs used in the workshop. Designs
      will be modeled as Redis datatypes using a key schema from 
      <a href="http://schema.org/">schema.org</a>
      Redis topics: <a href="{{ url_for('topic_view', topic='redis-data-types') }}">Redis Datatypes</a>,
      <a href="{{ url_for('topic_view', topic='operating-a-redis-system') }}">Operating a Redis System</a>
    </div>
   </li>
   <li class="media">
    <a class="media-left" href="#">
      <img src="{{ url_for('static', filename='img/sleigh64.png') }}" alt="Santa Sleigh's Dashboard">
    </a>
    <div class="media-body">
      <h4 class="media-heading"> Santa Sleigh's Dashboard</h4>
   </li> 
  </ul>
 </div>
 #}
</div>
{% endblock %}
