{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
   <a style="padding: 2em" href="http://www.lua.org/"><img class="pull-left" src="http://www.lua.org/images/lua.gif"></a>
  <h1>Lua Scripting</h1>
  <p class="lead">Since Redis version 2.6, a <a href="http://www.lua.org/">Lua</a>
  interpreter has been embedded into the Redis server. With Lua, a high-level programming
  language, functions and business-logic can be run directly in Redis for improved 
  application performance.</p>
  {% include 'snippets/topic-nav.html' %}
 </div>
<div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <ul>
        <li><a href="#E1">Introducing Lua</a></li>
        <li><a href="#E2">First Lua Script</a></li>
      </ul>
     </div>
    </div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-8">
   {# START Exercise  #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Introducing Lua</h3>
    </div>
    <div class="panel-body">
     <p>
       Lua stores data in variables, that are declared and initialized by 
       specifying the variable name and using the assignment operator (<strong>=</strong>) to
       assign a value. Lua core datatypes are nil (null), number (combines both int and float),
       boolean, and strings.
     </p>
     <pre>
> x = 5
> x
5
> blank = nil
> blank
nil
> is_true, is_false = true, false
> is_true
true
> is_false
false
> message = "Redis with Lua is cool."
> message
Redis with Lua is cool.
>
    </pre>
    <p>
      A table in Lua is similar to the hash type in Redis, where a unique set of keys 
      are mapped to a set of values. To retrieve a value from a table by key, either use
      square brackets <strong>[]</strong> or use the  <strong>.</strong> operator if the 
      key is a valid Lua identifier.
    </p>
    <pre>
> table1 = {}
> table1[1] = "The first value in table1"
> table1["second"] = "The second value in table1"
> table1
table: 0000000000620900
> table1[1]
The first value in table1
> table1.second
The second value in table1
>
   </pre>
   <p>The standard mathematical operations are <span class="label label-default">multiplication  *</span>,
     <span class="label label-default">division  /</span>, <span class="label label-default">addition  +</span>,
     <span class="label label-default">subtraction -</span>.
   </p>
   <pre>
> 3*5
15
> 12/2
6.0
> 896-785
111
> 129+745
874
> (2+3) * 5
25
>
   </pre>
    </div>
   </div>
   {# START Exercise  #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><a name="E1"></a>Exercise: First Lua Script</h3>
    </div>
    <div class="panel-body">
     <p>
      Lua scripts can be run using the <span class="label label-success">EVAL</span> and 
      <span class="label label-success">EVALSHA</span> commands. Within the Lua script,
      Redis commands can be run using the <code>redis.call</code> and <code>redis.pcall</code>
      Lua functions. The difference between the two is that if an error occurs evaluating
      the <code>redis.pcall</code>, Lua will capture and return the error while 
      <code>redis.call</code> will raise a Lua error and the 
      <span class="label label-success">EVAL</span> command will also return an error.
     </p>
     <pre>
127.0.0.1:6379> EVAL "return {KEYS[1],KEYS[2],ARGV[1],ARGV[2]}" 2 Book:1 Book:2 "War and Peace" "Critique of Pure Reason"
1) "Book:1"
2) "Book:2"
3) "War and Peace"
4) "Critique of Pure Reason"
127.0.0.1:6379> EVAL "return redis.call('SET', 'Book:1', 'War and Peace')" 0
OK
127.0.0.1:6379> GET Book:1
"War and Peace"
     </pre>
     <p>The <span class="label label-success">EVALSHA</span> command's first argument it is
      the SHA1 digest script instead of the script itself. Use the  
      <span class="label label-success">SCRIPT LOAD</span> command to load script first and then
      use the resulting SHA1 to run script on the server 
    </div>
    <pre>
127.0.0.1:6379> SCRIPT LOAD "return {KEYS[1],KEYS[2],ARGV[1],ARGV[2]}"
"a42059b356c875f0717db19a51f6aaca9ae659ea"
127.0.0.1:6379> EVALSHA a42059b356c875f0717db19a51f6aaca9ae659ea 2 Book:1 Book:2 "War and Peace" "Critique of Pure Reason"
1) "Book:1"
2) "Book:2"
3) "War and Peace"
4) "Critique of Pure Reason"
    </pre>
   {# END Exercise #}
   </div>
 </div>
 <div class="col-md-4">
  <h3>Commands for <em>Lua</em> Scripting</h3>
   <ul class="list-group">
    <li class="list-group-item list-group-item-success">
     <strong><a href="http://redis.io/commands/eval">EVAL</a> <em>numkeys</em> <em>key</em> <em>[key ...]</em> <em>arg</em> 
      <em>[arg &hellip;]</em></strong>
    </li>
    <li class="list-group-item">
     <strong>EVALSHA</a> <em>sha1</em> <em>numkeys</em> <em>key</em> [key &hellip;]</em> arg </em>[arg ...]</em></strong>
    </li>
    
   </ul>
 </div>
</div>
<hr>
<div class="row">
 <h2>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/"> </a>
   </li>
  </ol>
</div>
{% endblock %}
