{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-12 well">
  <h1>Mass Insertions and Replication</h1>
  <p class="lead">
    This topic explores a couple of methods of inserting large 
    amounts of data into Redis. Redis's master-slave replication
    is simple to use with horizontal scaling across multiple 
    slaves connecting asynchronous with a master Redis instance. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
</div>
{% endblock %}


