{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Memory, expiration and key eviction</h1>
  <p class="lead">
   Being an in-memory datastore, Redis has both advantages
   and disadvantages that need ways to manage the size of the
   datastore. Two techniques, setting expiration timestamps to
   keys as well as key eviction, can be used to manage the 
   memory footprint of Redis.
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
   </div>
  </div>
 </div>
</div>
{% endblock %}
