{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Memory, expiration and key eviction</h1>
  <p class="lead">
   Being an in-memory datastore, Redis has both advantages
   and disadvantages that need ways to manage the size of the
   datastore. Two techniques, setting expiration timestamps on
   keys as well as key eviction, can be used to manage the 
   memory footprint of Redis.
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#expiration">Key expiration</a></li>
    <li><a href="#lru-eviction">LRU Eviction</a></li>
    <h4>Exercises</h4>
    <li><a href="#E1">Setting a Timeout on a Key</a></li>
    <li><a href="#E2">Setting Maxmemory at runtime</a></li>
    <li><a href="#E2">Setting LRU Policies</a></li>
    {#<h4>Labs</h3>
    <li><a href="#lab1">Elf Kanban 4 Toys</a></li>
    <li><a href="#lab2">Santa Naughty-or-Nice Dashboard</a></li>#}
    <h4><a href="#references"><strong>References</strong></a></h4>
   </div>
  </div>
 </div>
</div>
<hr>
<h1>EXPIRE <small>Redis command for setting a timeout on a key</small><a name="expiration"></a></h1>
<p class="lead">
  Keys in Redis can be set so that the key will be automatically deleted from the datastore 
  after a timeout.

</p>
<div class="row"> 
  <div class="col-md-5">
   <div class="panel panel-warning">
     <div class="panel-heading">
      <h3 class="panel-title"><a name="E1"></a><strong>Exercise</strong>: Setting a Timeout on a Key</h3>
     </div>
     <div class="panel-body">
     <pre>
127.0.0.1:6379> SET Person:334:ReadAction "Website"
OK
127.0.0.1:6379> EXPIRE Person:334:ReadAction 10
1
127.0.0.1:6379> TTL Person:334:ReadAction
10
     </pre>
    </div>
   </div>
  </div>
  <div class="col-md-4">
   

  </div>
</div>
<hr>
<h1>Setting LRU Eviction <a name="lru-eviction"></a></h1>
<p class="lead">Redis supports a variant of the less recently used (LRU) approach to 
 removing old data as new data is added to a Redis datastore. When Redis is used as a
 an application cache, LRU eviction prevents the datastore from exceeding the available
 memory.
</p>
<div class="row">
 <div class="col-md-5">
  <h2>LRU Setup Options</h2>
  <p class="lead">
   Redis offers a number of LRU options that are set in <em>redis.config</em>. First,
   the <code>maxmemory</code> configuration option must be set, if set to 0 (the default)
   Redis does not limit memory itself, but is constrained by the operating system's 
   available RAM in 64-bit and 3GB in 32-bit systems.
  </p>
  <h3>
 </div>
 <div class="col-md-6">
   <div class="panel panel-warning">
     <div class="panel-heading">
      <h3 class="panel-title"><a name="E2"></a>Exercise: Setting Maxmemory at runtime</h3>
     </div>
     <div class="panel-body">
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory 1mb
OK
     </pre>
     </div>
   </div>
   <div class="panel panel-warning">
     <div class="panel-heading">
      <h3 class="panel-title"><a name="E3"></a>Exercise: Setting LRU Policies</h3>
     </div>
     <div class="panel-body">
     <h4>noeviction</h4>
     <p>The <strong>noeviction</strong> policy is the Redis default and will
     only display error messages when Redis exceeds existing memory.</p>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy noeviction
OK
     </pre>

     <h4>all-keys</h4>
     <p>The <strong>all-keys</strong>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy all-keys
OK
     </pre>
     <h4>volatile-lru</h4>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy volatile-lru
OK
     </pre>
     <h4>allkeys-random</h4>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy allkeys-random
OK
     </pre>
     <h4>volatile-random</h4>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy volatile-random
OK
     </pre>
     <h4>volatile-ttl</h4>
     <pre>
127.0.0.1:6379> CONFIG SET maxmemory-policy volatile-ttl
     </div>
   </div>

  </div>
 </div>
</div>
<div class="row">
  <section class="col-md-8">
   <p>
    The Redis LRU algorithm is not exact, as Redis does not automatically choose the 
     best candidate key for eviction, the least used key, or the key with the earliest access date. 
     Instead, Redis default behavior is take a sample of five keys and evict the least 
     used of those five keys. If we want to increase the accuracy of our LRU algorithm, 
     we can the change the maxmemory-samples directive in either redis.conf or during runtime 
     with the CONFIG SET maxmemory-samples command. Increasing the sample size to 10 improves the 
     performance of the Redis LRU so that it approaches a true LRU algorithm but with the side-effect 
     of more CPU computation. Decreasing the sample size to 3 reduces the accuracy of Redis LRU 
     but with a corresponding increase in processing speed. 
   </p>
   </section>
</div>
<hr>
<div class="row">
  <section class="col-md-4">

   <p><strong>volatile LRU</strong> Policy Redis keys are evicted if the keys
   have <strong>EXPIRE</strong> set, if there not any keys to be evicted when 
   Redis reaches maxmemory an OOM error is returned to the client. Note: under
   this policy when Redis reached maxmemory, it will start evicting keys that
   have an expiration set even if the time limit on keys hasn't been reached
   yet.</p>

  </section>
  <section class="col-md-8">
    <h3>Testing volatile LRU</h3>
    <pre>
127.0.0.1:6379> FLUSHDB
127.0.0.1:6379> CONFIG SET maxmemory-policy volatile-lru
    </pre>	  
    <p>Python function to add and set keys</p>
    <pre>
>>> def add_id_expire(redis_instance):
	count = redis_instance.incr("global:uuid")
        redis_key = "uuid:{}".format(count)
        redis_instance.set(redis_key, uuid.uuid4())
        if count <= 75:
            redis_instance.expire(redis_key, 300)


    </pre>
  </section>
</div>
<div class="row">
	<section class="col-md-4">
         <p>The <strong>allkeys-lru</strong> evicts keys based on the ttl. The 
	 allkeys-lru can delete ANY key in Redis and there is no way to restrict 
	 which keys are to be deleted. If you application needs to persist some 
	 Redis keys (say for configuration or reference look-up) DON’T use allkeys-lru policy!
	 </p>
	</section>
	<section class="col-md-8">
        <h3>Testing allkeys-lru</h3>
        <pre>
127.0.0.1:6379> FLUSHDB
127.0.0.1:6379> CONFIG SET maxmemory-policy allkeys-lru
    </pre>	
         <
	 Running the add_id function in an infinite while loop and a counter</p>
	 <pre>
>>> count = 1
>>> while 1:
	add_id(local_redis)
	count += 1
	 </pre> 
	 <p>Using the <strong>INFO stats</strong> will show us the status of Redis cache.
</div>
<div class="row">
  <section class="col-md-8">
    <p class="lead">Redis offer two other types of non-LRU maxmemory policies, 
    <strong>volatile-random</strong> and <strong>allkeys-random</strong> mirror the
     previous polices but instead of calculating LRU of the keys, the keys are 
     either randomly evicted based on the key's TTL in the case of the 
     <strong>volatile-random</strong> or any random keys in the case of 
     <strong>allkeys-random</strong>.
  </section>
</div>


<hr>
 <h2><a name="reference"></a>References and Resources</h2>
  <dl>
   <dt><a href="http://redis.io/commands/expire">http://redis.io/commands/expire</a></dt>
   <dd>From the official documentation on the redis.io website on the <span class="label label-primary">expire</span> command. </dd>
   <dt><a href="http://redis.io/topics/lru-cache">Using Redis as an LRU cache</a></dt>
   <dd>From the official documentation on the redis.io website on this topic.</dd> 
  </dl>
{% endblock %}
