{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Operating a Redis System</h1>
  <p class="lead">
    To effectively run Redis, understanding your options for persisting
    data to disk is an important consideration that depends on your intended
    use of Redis. Redis also provides a number of helpful commands for 
    operating a running instance. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#rdb">RDB Persistence</a></li>
    <li><a href="#aof">AOF Persistence</a></li>
    <li>Configure <a href="#redis-conf">redis.conf</a></li>
    <li><a href="#server-commands">Redis Server Commands</a></li>
    <h4>Labs</h3>
     <li><a href="#lab1">Santa Naughty-or-Nice Dashboard</a></li>
     <li><a href="#lab2">Elf Kanban 4 Toys</a></li>
    <h4><a href="#references"><strong>References</strong></a></h4>
   </div>
  </div>
 </div>
</div>
<div class="row">
 <div class="col-md-10 col-md-offset-1 well well-sm">
  <h1>Redis Persistence</h1>
  <p class="lead">
   Redis has four different persistence modes made up of:
   <ul class="lead">
    <li>RDB a periodical snap-shot in time</li>
    <li>AOF data is saved on every write command<?li>
    <li>No on-disk persistence</li>
    <li>Both RDB and AOF</li>
   </ul>
  </p>
  <h2>RDB <a name="rdb"></a></h2>
  <div class="row">
   <div class="col-md-6">
     <h3>Advantages</h3>
     <ul>
       <li>Compact single-file snapshot of the Redis data</li>
       <li>Restores easily from a single-file snapshot backup</li>
       <li>Faster restart when loading large datasets</li>
     </ul>
   </div>
   <div class="col-md-6">
     <h3>Disadvantages</h3>
     <ul>
      <li>Potential data loss between snapshots</li>
      <li>Needs to fork child process to create snapshot, forking
       may take a lot of time if large dataset and slow processor
       preventing client access in the meantime.</li> 
     </ul>
   </div>
  </div>
  <h2>AOF (Append Only File)<a name="aof"></a></h2>
  <div class="row">
   <div class="col-md-6">
     <h3>Advantages</h3>
     <ul>
      <li>More durable, setting <code>fsync</code> to 1 second means 
       at most 1 second would be lost if a failure occurs</li>
      <li>AOF log append-only, no seeks and if last write command fails,
      easy to fix with the <code>redis-check-aof</code> utility</li>
      <li>AOF is automatically written in background, allowing Redis to 
      continue to serve clients</li>
      <li>Contains a log of all operations of each write operation, easy
      to export format</li>
     </ul>
   </div>
   <div class="col-md-6">
     <h3>Disadvantages</h3>
     <ul>
      <li>AOF files are usually bigger than equivalent RDB files</li>
      <li>Can be slower than RDB depending on <code>fsync</code> policy</li>
     </ul>
   </div>
  </div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-8">
   <h2>Configuring <em>redis.conf</em> <a name="redis-conf"></a></h2>
   {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Saving RDB snapshot &amp; redis.conf parameters <name="E1"></a></h3>
    </div>
    <div class="panel-body">
    <p>
     The <span class="label label-success">SAVE</span> will save a RDB snapshot 
     of the running Redis instance to disk, the 
     <span class="label label-success">BGSAVE</span> does a similar RDB snaphot
     only running in the background while the active Redis instance still 
     can respond to client commands. 
    </p>
    <pre>
127.0.0.1:6379> SAVE
OK
127.0.0.1:6379> BGSAVE
Background saving started
127.0.0.1:6379>
    </pre>
    <p>Listed below is a snippet from a Redis 2.8 configuration file some of the 
    important parameters and default values for setting both RDB and AOF persistence
    in Redis.</p>
    <pre>
# Accept connections on the specified port, default is 6379.
# If port 0 is specified Redis will not listen on a TCP socket.
port 6379

# Close the connection after a client is idle for N seconds (0 to disable)
timeout 0

# Specify the server verbosity level.
loglevel notice

# Specify the log file name. Also the empty string can be used to force
# Redis to log on the standard output.
logfile ""


save 900 1
save 300 10
save 60 10000

# RDB files created with checksum disabled have a checksum of zero that will
# tell the loading code to skip the check.
rdbchecksum yes

# The filename where to dump the DB
dbfilename dump.rdb

# The working directory.
dir /.

appendonly no

# The name of the append only file (default: "appendonly.aof")
appendfilename "appendonly.aof"

# Max execution time of a Lua script in milliseconds.
lua-time-limit 5000
    </pre>
   {# END Exercise #}
   </div>
 </div>
</div>
<h2>Operating a live Redis instance <a name="live"></a></h2>
<div class="row">
 <div class="col-md-4">
    <h3>Critical Commands for configuring a running Redis instance</h3>
   <ul class="list-group">
    <li class="list-group-item list-group-item-success">
     <strong><a href="http://redis.io/commands/config-set">CONFIG SET</a> <em>parameter</em> <em>value</em></strong>
    </li>
    <li class="list-group-item">
     <strong><a href="http://redis.io/commands/config-get">CONFIG GET</a> <em>parameter</em> </strong>
    </li>
    <li class="list-group-item list-group-item-success">
     <strong><a href="http://redis.io/commands/save">SAVE</a></strong>
    </li>
    <li class="list-group-item">
     <strong><a href="http://redis.io/commands/bgsave">BGSAVE</a></strong>
    </li>
    <li class="list-group-item list-group-item-success">
     <strong><a href="http://redis.io/commands/bgrewriteoaf">BGREWRITEAOF</a></strong>
    </li>
   <li class="list-group-item">
     <strong><a href="http://redis.io/commands/monitor">MONITOR</a></strong>
   </li>
   </ul>
  </div>
  <div class="col-md-8">
   {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Configuration &amp; other Commands <name="E2"></a></h3>
    </div>
    <div class="panel-body">
     <p>The <span class="label label-success">CONFIG SET</span> allows you to set a configuration
     parameter at runtime while the <span class="label label-success">CONFIG GET</span> command
     retrieves a parameter.
     </p>
     <pre>
127.0.0.1:6379> CONFIG GET appendonly
1) "appendonly"
2) "no"
127.0.0.1:6379> CONFIG GET asfdsf
(empty list or set)
127.0.0.1:6379> CONFIG GET port
1) "port"
2) "6379"
127.0.0.1:6379> CONFIG SET appendonly yes
OK
     </pre>
     <p>The <span class="label label-success">MONITOR</span> command will display all incoming
     client commands to the monitored Redis instance</p>
     <pre>
127.0.0.1:6379> MONITOR
OK
1418623217.197721 [0 127.0.0.1:53288] "DBSIZE"
1418623241.973480 [0 127.0.0.1:53288] "SET" "Book:3" "Pride and Prejudice"
1418623264.670176 [0 127.0.0.1:53288] "GET" "Book:3"
     </pre>
     <p>The <span class="label label-success">BGREWRITEAOF</span> command will compact and rewrite
     the AOF log file in the background while the instance can still accept client commands.
     </p>
     <pre>
127.0.0.1:6379> BGREWRITEAOF 
Background append only file rewriting started
127.0.0.1:6379> 
     </pre>
    </div>
   {# END Exercise #}
   </div> 
 </div>
</div>
<hr>
{% import 'snippets/labs.html' as labs %}
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-6 well well-sm"><a name="lab1"></a>
   {% set dashboard = '<p>Copy <code>redis.config</code> to the <em>redis</em> directory. Edit the config file, 
and change the file name from appendonly.aof to dashboard.aof. <strong>Question</strong> Should this application use 
AOF or RDB persistence? What other settings in the <code>redis.config</code> file should be changed for this project?</p>
<p>After making your changes, run Redis with your modified <code>redis.config</code>.</p>' %}
  {{ labs.lab("Santa's Naughty-or-Nice Dashboard", 'img/list64.png', dashboard) }} 
  </div>
  <div class="col-md-6 well well-sm"><a name="lab2"></a>
   {% set kanban = 'Copy <code>redis.config</code to <code>datastore</code> directory. Edit the config file, 
and change the file name from dump.db to kanban.rdb. <strong>Question</strong> Should this application use 
AOF or RDB persistence? What other settings in the <code>redis.config</code> file should be changed for this project?</p>
<p>After making your changes, run Redis with your modified <code>redis.config</code>.</p>' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>
</div>
<hr>
<div class="row">
 <h2><a name="references"></a> References and Resources</h2>
 <ol>
   <li>From the redis.io website, topic on 
    <a href="http://redis.io/topics/persistence">http://redis.io/topics/persistence</a>
   </li>
 </ol>
</div>

{% endblock %}
