{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Pipelining and Mass Insertions of Data</h1>
  <p class="lead">
   This topic explores a couple of methods of inserting large amounts of data into Redis.

  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#pipelining">Pipelining</a></li>
    <li><a href="#mass-insertion">Mass Insertion of Data</a></li>
    <h4>Exercises</h4>
    <li><a href="#E1">Pipelining with <em>netcat</em></a></li>
    <li><a href="#E2">Pipelining with <em>redis.py</em></a></li>
    <h4>Labs</h3>
    <li><a href="#lab1">Santa's Naughty-or-Nice Dashboard</a></li>
    <li><a href="#lab2">Elf Kanban 4 Toys</a></li>
    <h4><a href="#reference">References and Resources</a></h4>

   </div>
  </div>
 </div>
 </div>
</div>
<hr>
<h1>Pipelining <a name="pipelining"></a></h1>
<div class="row">
 <div class="col-md-5">
  <p class="lead well well-sm">
   Redis commands has a small latency, called RTT (Round Trip Time) when communicating a 
   between the client and the server. Often, an application will send a series 
   of small Redis commands that do not necessarily need a round-trip confirmation
   from the server. 
  </p>
 </div>
 <div class="col-md-7">
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Pipelining with <em>netcat</em><a name="E1"></a> </h3>
   </div>
   <div class="panel-body">
   <pre>
$ (printf "PING\r\nPING\r\nPING\r\n"; sleep 1)|nc localhost 6379
+PONG
+PONG
+PONG
   </div>
  </div>
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Pipelining with <em>redis.py</em><a name="E2"></a></h3>
   </div>
   <div class="panel-body">
   <pre>
$ python
Python 3.4.0 (v3.4.0:04f714765c13, Mar 15 2014, 23:02:41) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import redis
>>> local_redis = redis.StrictRedis()
>>> pipeline = local_redis.pipeline()
>>> pipeline.ping()
StrictPipeline<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>
>>> pipeline.ping()
StrictPipeline<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>
>>> pipeline.ping()
StrictPipeline<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>
>>> pipe.execute()
[True, True, True]
   </pre>
   </div>
  </div>
 
 </div>
</div>
<hr>
<h1>Mass Insertion of Data <a name="mass-insertion"></a></h1>
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Mass insertion with <em>netcat</em><a name="E2"></a></h3>
   </div>
   <div class="panel-body">
    <p>Open a terminal window and launch <strong>redis-cli</strong></p> and check to see that Redis
    is empty.</p> 
    <pre>
127.0.0.1:6379> DBSIZE
(integer) 0
127.0.0.1:6379> exit 
    </pre>
    <pre>
$ cd ~/introduction-to-redis/pipelining-and-mass-insertions
$ (cat books.txt; sleep 10) | nc localhost 6379
+OK
+OK
.
.
.
+OK
    </pre>
    <p>Now launch <strong>redis-cli</strong> and check to see the number of keys in Redis with
     <span class="label label-success">DBSIZE</span> command and retrieve some sample keys 
     with <span class="label label-success">GET</span>.
    </p>
    <pre>
127.0.0.1:6379> DBSIZE
(integer) 9984
127.0.0.1:6379> GET Book:1
"Witchcraft in the Middle Ages."
127.0.0.1:6379> GET Book:4567
"Ephemeral vistas : the expositions universelles, great exhibitions, and world's fairs, 1851-1939 /"
127.0.0.1:6379> GET Book:9000
"Art since 1940 : strategies of being /"
    </pre>
   </div>
 {# END Exercise #}
  </div>
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Mass insertion with <em>Python</em><a name="E3"></a></h3>
   </div>
   <div class="panel-body">
    <p>In <strong>redis-cli</strong>, flush the datastore with <span class="label label-success">FLUSHALL</span>
    to start with an empty datastore.</a>     
    <pre>
127.0.0.1:6379> FLUSHALL
OK
127.0.0.1:6379> exit 
    </pre>
     <p>Launch a <code>virtualenv</code> environment and then run a python script that
    inserts inserts 10,000 strings into Redis.</p>
{% set current_redis = " "|latest_redis %}
    <pre>
$ source ~/redis-py-end/bin/activate
$ cd ~/introduction-to-redis/pipelining-and-mass-insertions
$ python protocol.py | ~/{{ current_redis.name }}/src/redis-cli --pipe
All data transferred. Waiting for the last reply...
Last reply received from server.
errors: 0, replies: 10000
    </pre>
    <p>Finally, using <strong>redis-cli</strong>, check the size with the 
     <span class="label label-success">DBSIZE</span> command and retrieve some sample keys 
     with <span class="label label-success">GET</span>.
    <pre>
~/redis-2.8.18/src/redis-cli
127.0.0.1:6379> DBSIZE
(integer) 10000
127.0.0.1:6379> GET Key:1
"Value=1"
127.0.0.1:6379> GET Key:4567
"Value=4567"
127.0.0.1:6379> GET Key:9000
"Value=9000"
    </pre>
 </div>
</div>
<hr>
{% import 'snippets/labs.html' as labs %}
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-6 well well-sm"><a name="lab1"></a>
   {% set dashboard = 'Create a pipeline for inserting an initial load of naughty or nice children.' %}
  {{ labs.lab("Santa's Naughty-or-Nice Dashboard", 'img/list64.png', dashboard) }} 
  </div>
  <div class="col-md-6 well well-sm"><a name="lab2"></a>
   {% set kanban = 'Insert the listing of all toys into the Kanban Toy Queue.' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>
</div>
<hr>
<h1><a name="reference"></a>References</h1>
<dl>
  <dt><a href="http://redis.io/topics/pipelining">Request/Response protocols and RTT</a></dt>
  <dd>An explanation from the official Redis documentation on Pipelining</dd> 
  <dt><a href="http://redis.io/topics/mass-insert">Redis Mass Insertion</a></dt>
  <dd>An explanation from the official Redis documentation on Mass Insertion of data</dd> 
</dl>
{% endblock %}
