{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Programming Redis</h1>
  <p class="lead">
   Redis has a rich ecosystem of clients for a <a href="http://redis.io/clients">large range</a> 
   of programing languages.
   To illustrate using these clients, we'll focus on two languages,
   <a href="http://www.python.org/">Python</a> and Javascript through
   <a href="http://nodejs.org/">node.js</a>.  
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#python">Python</a></li>
    <li><a href="#node-js">Node.js</a></li>
    <h4>Exercises</h4>
    <li><a href="#E1">Installing Python and <em>Redis.py</em></a></li>
    <li><a href="#E2">Using <em>redis-py</em> from the command-line</a></li>
    <li><a href="#E3">Installing and setup of node.js</a></li>    
   </div>
  </div>
 </div>
</div>
<h1>Python <small>high-level scripting language</small><a name="#python"></a></h1>
 <p class="lead">Python is popular scripting language that is used in a wide 
 range of industries. We will be demonstrating how to use Redis in a Python application
 with the focus not becoming an expert in Python, but how to use Redis in a programming
 context with simple scripting support. 
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Installing Python and Redis.py<a name="E1"></a></h3>  
   </div>
   <div class="panel-body">
    <pre>
$ sudo apt-get install Python3.4
$ wget https://pypi.python.org/packages/source/v/virtualenv/virtualenv-1.11.6.tar.gz
$ tar xvf virtualenv-1.11.6.tar.gz
$ python3 virtualenv-1.11.6/virtualenv.py redis-test-env
$ source redis-test-env/bin/activate
(redis-test-env) $ pip install redis
   </div>
  {# END Exercise #}
  </div>
  {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Using <em>redis-py</em> from the command-line<a name="E2"></a></h3>
    </div>
    <div class="panel-body">
    <pre>
$ source redis-py-env/bin/activate
(redis-py-env) $ python
Python 3.4.0 (v3.4.0:04f714765c13, Mar 15 2014, 23:02:41) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import redis
>>> local_redis = redis.StrictRedis()
>>> local_redis.dbsize()
    </pre>
    </div>
  {# END Exercise #}
  </div>  
 </div>
</div>
<hr>
<h1>node.js <small>server-side Javascript</small>  <a name="#node-js"></a></h1>
<p class="lead">
 The server-side Javascript framework, <a href="http://nodejs.org/">node.js</a>
 (although there was recent major fork called <a href="https://github.com/iojs/io.js">io.js</a>)
</p>
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Installing and setup of node.js<a name="E3"></a></h3>
    </div>
    <div class="panel-body">
   <p>The first steps running node.js, is to download and install node.js and then
   install the recommended node.js client. We will also two other node modules,
   <a href="#">express</a> and <a href="#">swig</a> to build a simple website using
   Redis.
   </p>
   <pre>
$ npm install hiredis redis
$ npm install express
$ npm install swig --save
  </pre>
  <p>Second, change directory to the <code>node</code> example directory and 
     run the node.js application</p>
  <pre>
$ cd introduction-to-redis/05-programming-redis
$ node server.js
Application Started on http://localhost:1337/
  </pre>
    </div>
   {# END Exercise #}
   </div>
  </div>
</div>
{% endblock %}
