{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Programming Redis</h1>
  <p class="lead">
   Redis has a rich ecosystem of clients for a large range of programing 
   languages. To illustrate this power, we'll focus on two languages,
   <a href="http://www.python.org/">Python</a> and Javascript through
   <a href="http://nodejs.org/">node.js</a>.  
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
</div>
<h1>Python <small>high-level scripting language</small></h1>
<div class="row">


</div>
<hr>
<h1>node.js <small>server-side Javascript</h1>

{% endblock %}
