{% extends 'base.html' %}


{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Programming Redis</h1>
  <p class="lead">
   Redis has a rich ecosystem of clients for a <a href="http://redis.io/clients">large range</a> 
   of programing languages.
   To illustrate using these clients, we'll focus on two languages,
   <a href="http://www.python.org/">Python</a> and Javascript through
   <a href="http://nodejs.org/">node.js</a>.  
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#python">Python</a></li>
    <li><a href="#node-js">Node.js</a></li>
    <h4>Exercises</h4>
    <li><a href="#E1">Installing Python and <em>Redis.py</em></a></li>
    <li><a href="#E2">Using <em>redis-py</em> from the command-line</a></li>
    <li><a href="#E3">Installing and setup of node.js</a></li>    
    <h4>Labs</h3>
    <li><a href="#lab1">Elf Kanban 4 Toys</a></li>
    <li><a href="#lab2">Santa Naughty-or-Nice Dashboard</a></li>
    <h4><a href="#reference">Reference and Resources</a></h4>  
   </div>
  </div>
 </div>
</div>
<h1>Python <small>high-level scripting language</small><a name="#python"></a></h1>
 <p class="lead">Python is popular scripting language that is used in a wide 
 range of industries. We will be demonstrating how to use Redis in a Python application
 with the focus not becoming an expert in Python, but how to use Redis in a programming
 context with simple scripting support. 
<div class="row">
 <div class="col-md-12">
  {# START Exercise #}
  <div class="panel panel-warning">
   <div class="panel-heading">
     <h3 class="panel-title">Exercise: Installing Python and Redis.py<a name="E1"></a></h3>  
   </div>
   <div class="panel-body">
    <pre>
$ sudo apt-get install Python3.4
$ wget https://pypi.python.org/packages/source/v/virtualenv/virtualenv-1.11.6.tar.gz
$ tar xvf virtualenv-1.11.6.tar.gz
$ python3 virtualenv-1.11.6/virtualenv.py redis-test-env
$ source redis-test-env/bin/activate
(redis-test-env) $ pip install redis
   </div>
  {# END Exercise #}
  </div>
  {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Using <em>redis-py</em> from the command-line<a name="E2"></a></h3>
    </div>
    <div class="panel-body">
    <pre>
$ source redis-py-env/bin/activate
(redis-py-env) $ python
Python 3.4.0 (v3.4.0:04f714765c13, Mar 15 2014, 23:02:41) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import redis
>>> local_redis = redis.StrictRedis()
>>> local_redis.dbsize()
    </pre>

    </div>
  {# END Exercise #}
  </div>  
  {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Creating a Twitter Clone<a name="E3"></a></h3>
    </div>
    <div class="panel-body">
     <p>We'll now use Python to create a small Twitter clone based upon the 
     tutorial, <a href="http://redis.io/topics/twitter-clone">Tutorial: Design and 
     implementation of a simple Twitter clone using PHP and the Redis key-value store</a>
     </p>
     <p>The Redis Key structure for this Twitter Clone</p>
     <table class="table">
       <tr>
        <th>Key</th>
        <th>Description</th>
        <th>Redis Data Type</th>
       </tr>
       <tr>
         <th>next_user_id</th>
         <td>user id counter</td>
         <td>String</td>
       </tr>
       <tr>
         <th>User:{ user_id }</th>
         <td>Each user key includes a user id based on the <em>next_user_id</em>
          and stores information related to the user, including <strong>username</strong>
          subkey.
         </td>
         <td>Hash</td>
       </tr>
       <tr>
         <th>Users</th>
         <td>Contains a mapping between each User's username and user_id</td>
         <td>Hash</td>
       </tr>
       <tr>
         <th>followers:{ user_id }</th>
         <td>Stores user ids for all of the users that following a particular user along
             with a timestamp score</td>
         <td>Sorted set</td>
       </tr>
       <tr>
         <th>following:{ user_id }</th>
         <td>Stores user ids for all of the users that a particular user is following 
             along with a timestamp score</td>
         <td>Sorted set</td>
       </tr>
       <tr> 
         <th>next_post_id</th>
         <td>post id counter</td>
         <td>String</td>
       </tr>
       <tr>
         <th>post:{ post_id }</th>
         <td>Message, timestamp, and creating User for a single post</td>
         <td>Hash</td>
       </tr>
       <tr>
         <th>posts:{ user_id }</th>
         <td>Posts from users that the User is following</td>
         <td>List</td>
       </tr>
     </table>
     <h4>Create a User</h4>
     <pre>
>>> def add_user(username):
	user_id = local_redis.incr("next_user_id")
	user_key = "User:{}".format(user_id)
	local_redis.hset(user_key, "username", username)
	local_redis.hset("Users", username, user_id)
	return user_key
>>> first_user_key = add_user("dwallace")
>>> second_user_key = add_user("bbarker")
>>> print(first_user_key)
     </pre>
     <h4>Add followers to a User</h4>
     <pre>
>>> def add_follower(user, follower):
	follower_key = "followers:{}".format(local_redis.hget('Users', user).decode())
	local_redis.zadd(follower_key, time.time(), local_redis.hget('Users', follower))
>>> add_follower('dwallace', 'bbarker')
     </pre>
     <h4>Add following</h4>
     <pre>
def add_following(user, following_user):
	following_key = "following:{}".format(local_redis.hget('Users', user).decode())
	local_redis.zadd(following_key, 
                         time.time(), 
                         local_redis.hget('Users', following_user))
     </pre>
     <h4>Add a Post</h4>
     <pre>
def create_post(username, body):
	post_id = local_redis.incr("next_post_id")
	post_key = "post:{}".format(post_id)
	local_redis.hmset(post_key, {"user_id": local_redis.hget("Users", username),
				     "time": time.time(), 
                                     "body": body})
	followers = local_redis.zrange("followers:{}".format(
            local_redis.hget("Users", username).decode()),
				       0,-1)
	for follower_id in followers:
		posts_key = "posts:{}".format(follower_id.decode())
		local_redis.lpush(posts_key, post_id)
	return post_key
      </pre>
      <h4>Retrieve all posts from users that a person is following</h4>
      <pre>
def get_my_posts(username):
	user_id = local_redis.hget("Users", username)
	posts_id = "posts:{}".format(user_id.decode())
	posts = local_redis.lrange(posts_id, 0, -1)
	for post_id in posts:
		post_key = "post:{}".format(post_id.decode())
		print("""{}:\n{}""".format(local_redis.hget(post_key, "user_id"),
					   local_redis.hget(post_key, "body")))

      </pre>
    </div>
   {# END Exercise #}
  </div>    
 </div>
</div>
<hr>
<h1>node.js <small>server-side Javascript</small>  <a name="#node-js"></a></h1>
<p class="lead">
 The server-side Javascript framework, <a href="http://nodejs.org/">node.js</a>
 (although there was recent major fork called <a href="https://github.com/iojs/io.js">io.js</a>)
</p>
<div class="row">
 <div class="col-md-8">
  {# START Exercise #}
   <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise: Installing and setup of node.js<a name="E3"></a></h3>
    </div>
    <div class="panel-body">
   <p>The first steps running node.js, is to download and install node.js and then
   install the recommended node.js client. We will also two other node modules,
   <a href="#">express</a> and <a href="#">swig</a> to build a simple website using
   Redis.
   </p>
   <pre>
$ sudo apt-get install node.js
$ npm install hiredis redis
$ npm install express
$ npm install swig --save
  </pre>
  <p>Second, change directory to the <code>node</code> example directory and 
     run the node.js application</p>
  <pre>
$ cd introduction-to-redis/programming-redis
$ node server.js
Application Started on http://localhost:1337/
  </pre>
    <p>To see an existing Node.js project that uses Redis, checkout Amir Rajan's
     Todo Application at 
     <a href="https://github.com/amirrajan/nodejs-todo">https://github.com/amirrajan/nodejs-todo</a>.
     <pre>
$ git clone https://github.com/amirrajan/nodejs-todo.git
$ cd nodejs-todo
$ npm install 
     </pre>
     </pre>
    </div>
   {# END Exercise #}
   </div>
  </div>
</div>
<hr>
{# import 'snippets/labs.html' as labs %}
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-6 well well-sm"><a name="lab1"></a>
   {% set kanban = 'Create a node.js application by following this steps:<ol>
<li>Install the Express and SWIG node.js modules using <code>npm</code></li>
<li>Create new <code>server.js</code> file in the root directory.</li></ol>
' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>

  <div class="col-md-6 well well-sm"><a name="lab2"></a>
   {% set dashboard = 'Create a Python Flask web application by following these steps:<ol>
 <li>Install Flask using pip</li>
 <li>Create a <code>app.py</code> file in the root directory</li></ol>' %}
  {{ labs.lab("Santa's Naughty-or-Nice Dashboard", 'img/list64.png', dashboard) }} 
  </div>
</div>#}
<hr>
 <h2><a name="reference"></a>References and Resources</h2>
  <dl>
    <dt><a href="http://nodejs.org/">Node.js</a></dt>
    <dd>A Javascript server environment for creating web applications</dd>
    <dt><a href="https://github.com/mranney/node_redis">Node Redis</a></dt>
    <dd>The recommended redis client for Node.js</dd>
    <dt><a href="http://www.python.org/">Python</a></dt>
    <dd>A popular dynamic programming language with a rich set of external modules</dd>
    <dt><a href="https://github.com/andymccurdy/redis-py">redis-py</a></dt>
    <dd>Mature and supported Python client for Redis.</dd> 
  </dl>
{% endblock %}
