{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Replication and Pub/Sub</h1>
  <p class="lead">
    Redis supports two models of distributed computing. 
    Redis's master-slave replication
    is simple to use with horizontal scaling across multiple 
    slaves connecting asynchronous with a master Redis instance. 
    In addition, Redis is well suited to supporting the 
    Publish/Subscribe model where a publisher application sends messages to one 
    or more channels that subscriber applications monitor and then react to the
    messages in the channel. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <li><a href="#ms-replication">Master-Slave Replication</a></li>
      <li><a href="#pubsub">Pub/Sub</a></li>
      <h4>Exercises</h4>
      <li><a href="#E1">Runtime set-up of Master-Slave Replication</a></li>
      <li><a href="#E2">Set-up of Master-Slave Replication with <em>redis.config</em></a></li>
      <li><a href="#E3">Pub/Sub</a></li>
     {# <h4>Labs</h3>
      <li><a href="#lab1">Elf Kanban 4 Toys</a></li>
      <li><a href="#lab2">Santa's Naughty-or-Nice Dashboard</a></li>#}
      <h4><a href="#reference">References and Resources</a></h4>
     </div>
   </div>
 </div>
</div>
<hr>
<div class="panel panel-default">
 <div class="panel-body">
  <h1>Master-Slave Replication<a name="ms-replication"></a></h1>
  <p class="lead">Redis's Master-Slave replication starts with at least two Redis server instances;
  a master and one or more slave instances. All Redis server instances store a copy of data.
  The difference between the two is that the slaves are usually read-only while the master 
  instance accepts reads and writes.</p>
  <div class="row">
    <div class="col-md-8">
     {# START Exercise #}
     <div class ="panel panel-warning">
      <div class="panel-heading">
       <h3 class="panel-title"><a name="E1"></a><strong>Exercise:</strong> Runtime Master and Slave instances</h3>
      </div>
      <div class="panel-body">
       <p>Open four command-line windows to run a Redis master, slave, and redis-cli instances</p>
       <p><strong>Redis Master</strong></p>
       <pre>
$ cd introduction-to-redis/replication-and-pub-sub/
$ ~/redis-3.0.2/src/redis-server --dbfilename master.rdb --port 6379      
       </pre>
       <p><strong>Redis Slave</strong></p>
       <pre>
$ cd introduction-to-redis/replication-and-pub-sub/
$ ~/redis-3.0.2/src/redis-server --dbfilename slave.rdb --port 6380
       </pre>
       <p><strong>Redis CLI</strong></p>
       <pre>
$ ~/redis-3.0.2/src/redis-cli -p 6379
127.0.0.1:6379> DBSIZE
(integer) 0
127.0.0.1:6379> exit
$
$ ~/redis-3.0.2/src/redis-cli -p 6380
127.0.0.1:6380> DBSIZE
(integer) 0
127.0.0.1:6380> SLAVEOF localhost 6379
OK
127.0.0.1:6380> exit
$
$ ~/redis-3.0.3/src/redis-cli -p 6379
127.0.0.1:6379> HMSET Book:1 name "Infinite Jest" author "David Foster Wallace"
OK
127.0.0.1:6379> exit
$
$ ~/redis-3.0.2/src/redis-cli -p 6380
127.0.0.1:6380> KEYS *
127.0.0.1:6380> KEYS *
1) "Book:1"
127.0.0.1:6380> HGETALL Book:1
1) "name"
2) "Infinite Jest"
3) "author"
4) "David Foster Wallace"
127.0.0.1:6380> HSET Book:1 copyrightYear 1996
(error) READONLY You can't write against a read only slave.
       </pre>
      </div>
     {# END Exercise #}
     </div>
     {# START Exercise #}
     <div class ="panel panel-warning">
      <div class="panel-heading">
       <h3 class="panel-title"><a name="E2"></a><strong>Exercise:</strong> Set-up of Master-Slave Replication with <em>redis.config</em></h3>
      </div>
      <div class="panel-body">
       <p>Master-Slave replication can be set-up in the <strong>redis.conf</strong> file for each slave.</p>
       <pre>
# Master-Slave replication. Use slaveof to make a Redis instance a copy of
# another Redis server.
slaveof &lt;masterip&gt; &lt;masterport&gt;
       </pre>
      </div>
     {# END Exercise #}
     </div>

    </div>
    <div class="col-md-4">
     <div class="alert alert-info">
       <strong>Facts about Master-Slave Replication</strong>
       <ul>
        <li>Master and Slaves use asynchronous replication</li> 
        <li>Masters can have multiple slaves</li> 
        <li>Slaves can accept connections from other slaves (i.e. a slave could have as it's master a Redis instance that is slave to a master instance)</li>  
        <li>Replication is non-blocking on both master and slave instances; a master can continue to respond to queries while slaves are 
        synchronizing, a slave can be configured to respond to queries with old data while synchronizing with the master</li>
       </ul>
     </div>
     <h3>Critical Commands for Master-Slave Replication</h3>
     <ul class="list-group">
      <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/slaveof">SLAVEOF</a> <em>server</em> <em>port</em></strong>
      </li>
      <li class="list-group-item">
       <strong><a href="http://redis.io/commands/type">TYPE</a> <em>key</em></strong>
      </li>
      <li class="list-group-item list-group-item-success">
        <strong><a href="http://redis.io/commands/client-list">CLIENT LIST</a></strong>
      </li>
     </ul>
    <h3>Caveats when using Replication</h3>
   <p class="lead">If persistence is turned off on the master A and it has two slaves B, C
    the following problem can occur:</p>
   <ul class="lead">
    <li>We have a setup with node A acting as master, with persistence turned off, and nodes B and C replicating from node A.</li>
    <li>A crashes, however it has some auto-restart system, that restarts the process. However since persistence is turned off, the node restarts with an empty data set.</li>
    <li>Nodes B and C will replicate from A, which is empty, so they'll effectively destroy their copy of the data.</li>
   </ul>
    </div>
  </div>  
 </div>

<h3>SYNC, Partial Resynchronization &amp; Diskless Replication</h3> 
<div class="row">
  <section class="col-md-4">
  <p class="lead">
   <h3>Redis Replication</h3>
   Steps:
   <ol>
	<li>The master then starts background saving, and starts to buffer all new commands received that will modify the dataset.</li>
        <li>When the background saving is complete, the master transfers the database file to the slave, which saves it on disk, and then loads it into memory.
        <li> The master will then send to the slave all buffered commands. This is done as a stream of commands and is structured in the Redis.</li>
   </ol>
 
  </section>
  <section class="col-md-4">
   <h2>Partial Resynchronization</h2>
  <p>
Replication is non-blocking on both master and slave instances; a master can continue to respond to queries while slaves are 
        synchronizing, a slave can be configured to respond to queries with old data while synchronizing with the master
   </p>
   <p>If the link between the master and slave goes down, the old behavior of Redis is to do a 
   full synchronization with the slave when the connection is re-established. As of Redis 2.8
   experimental support was added with <strong>PSYNC</strong> command that will only do a partial
   synchronization with MASTER based on if a time threshold has been exceeded or not. If 
   time has been exceeded, a full <strong>SYNC</strong> is triggered between the master and
   slave.</p> 
  </section>
  <section class="col-md-4">
   <h2>Diskless replication</h2>
   <p>An experimental feature that sends the full RDB file to the slave without forking 
    the master and using the disk as an intermediate storage.
  </section>
</div>
</div>
<hr>
<h1>Pub/Sub (Publication/Subscription)<a name="pubsub"></a></h1>
<div class="row">
 <div class="col-md-3">
   <h3>Critical Commands for Pub/Sub</h3>
    <ul class="list-group">
     <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/subscribe">SUBSCRIBE</a> <em>channel</em> [<em>channel</em> &hellip;]</strong>
     </li>
     <li class="list-group-item">
      <strong><a href="http://redis.io/commands/publish">PUBLISH</a> <em>channel</em> <em>message</em></strong>
     </li>
     <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/unsubscribe">UNSUBSCRIBE</a> [<em>channel</em> [<em>channel</em> &hellip;]]</strong>
     </li>
     <li class="list-group-item ">
       <strong><a href="http://redis.io/commands/psubscribe">PSUBSCRIBE</a> <em>pattern</em> [<em>pattern</em> &hellip;]</strong>
     </li>
     <li class="list-group-item list-group-item-success">
      <strong><a href="http://redis.io/commands/punsubscribe">PUNSUBSCRIBE</a>[<em>channel</em> [<em>channel</em> &hellip;]]
      </strong>
     </li>
    </ul>
 </div>
 <div class="col-md-9">
  {# START Exercise #}
  <div class ="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title"><a name="E3"></a><strong>Exercise:</strong> Pub/Sub</h3>
    </div>
    <div class="panel-body">
    <p>In this exercise, we will use <em>redis-cli</em> as a publisher and use the 
     a Python command line to run a consumer application using <span class="label label-success">PUBLISH</span>
     and <span class="label label-success">SUBSCRIBE</span> commands. The Python client 
     <em>redis-py</em> has its own Publish/Subscribe class with its own method calls for responding 
     to messages published to a channel.
    </p>
    <div class="row">
      <div class="col-md-6">
       <h4>Redis Python Subscription Client</h4>
       <pre>
>>> import redis
>>> local_redis = redis.StrictRedis()
>>> circ_consumer = local_redis.pubsub()
>>> circ_consumer.subscribe("checkouts", "checkins")
>>> circ_consumer.get_message()
       </pre>
    
      </div>
      <div class="col-md-6">
       <h4>Redis <em>redis-cli</em> Publisher Client</h4>
       <pre>
127.0.0.1:6379> publish checkouts Book:3
(integer) 1
127.0.0.1:6379> publish checkouts Book:1
(integer) 1
127.0.0.1:6379> publish checkins Book:3
(integer) 1
127.0.0.1:6379> publish checkins Book:3
(integer) 1
       </pre>
      </div>
    </div>
   {# END Exercise #}
  </div>  
 </div>
</div>
<h2>Pub/Sub Message Syntax</h2>
<div class="row">
    <section class="col-md-4">
        <p class="lead">
        Redis Pub/Sub messages are defined as 3 or 4 part <a href="http://redis.io/topics/protocol">RESP</a> 
        (REdis Serialization Protocol) array.
        RESP is the communication protocol that Redis client communicate with Redis server and is 
        used in other projects beside Redis. We see the raw RESP protocol if we use telnet and connect 
        directly to Redis.
	</p>
    </section>
    <section class="col-md-6">
        <p>First, we will connect to a single Redis instance running at port 6379 with
        telnet.         <pre>
$ telnet localhost 6379
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.
        </pre>
        <p>Now, we will subscribe to a <strong>chat_room</strong> channel</p> and from a <code>redis-cli</code>
        session, we will post a message to the channel. 

        <pre>
SUBSCRIBE chat_room
*3
$9
subscribe
$9
chat_room
:1
*3
$7
message
$9
chat_room
$18
Anybody out there?
        </pre>
        <p
    </section>
</div>
<h2><small>Pattern Matching with</small> PSUBSCRIBE &amp; 
	PUNSUBSCRIBE</h2>
<div class="row">
    <section class="col-md-6">
        <p class="lead">To subscribe to more than one channel, you can use the <strong>PSUBSCRIBE</strong>
        that take a pattern to match to existing channels.</p>
        <pre>
PSUBSCRIBE chat_*
*3
$10
psubscribe
$6
chat_*
:1
*4
$8
pmessage
$6
chat_*
$9
chat_room
$18
What is your name?
        </pre>
    </section>
    <section class="col-md-6">
        <p class="lead">To unsubscribe to multiple channels at once, you can use the <strong>PUNSUBSCRIBE</strong>
        </p>
    <pre>
PUNSUBSCRIBE chat*
*3
$12
punsubscribe
$5
chat*
:1
    </pre>
    </section>
</div>

<hr>
{% import 'snippets/labs.html' as labs %}
{#
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-8 well well-sm"><a name="lab1"></a>
   {% set kanban = 'For this lab, implement a master/slave set-up for this project' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-8 well well-sm"><a name="lab2"></a>
   {% set dashboard = 'Create two subscription channels, a naughty channel where the child is given a piece of coal and a nice channel where the child 
gets a toy of her or his choice' %}
  {{ labs.lab("Santa's Naughty-or-Nice Dashboard", 'img/list64.png', dashboard) }} 
  </div>

</div>
<hr>#}
<div class="row">
 <h2><a name="reference"></a>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/replication">Replication</a>
   </li>
   <li>Topic on 
     <a href="http://redis.io/topics/pubsub">*Pub/Sub</a>
  </ol>
</div>
{% endblock %}


