{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Replication and Pub/Sub</h1>
  <p class="lead">
    Redis supports two models of distributed data processing. 
    Redis's master-slave replication
    is simple to use with horizontal scaling across multiple 
    slaves connecting asynchronous with a master Redis instance. 
    In addition, Redis is well suited to supporting the 
    Publish/Subscribe model where a publisher application sends messages to one 
    or more channels that subscriber applications monitor and then react to the
    messages in the channel. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <li><a href="#ms-replication">Master-Slave Replication</a></li>
      <li><a href="#pubsub">Pub/Sub</a></li>
      <h4>Exercises</h4>
      <li><a href="#E1">Runtime set-up of Master-Slave Replication</a></li>
      <li><a href="#E2">Set-up of Master-Slave Replication with <em>redis.config</em></a></li>
      <li><a href="#E3">Pub/Sub</a></li>
     </div>
   </div>
 </div>
</div>
<hr>
<div class="panel panel-default">
 <div class="panel-body">
  <h1>Master-Slave Replication<a name="ms-replication"></a></h1>
  <p class="lead">Redis's Master-Slave replication starts with at least two Redis server instances;
  a master and one or more slave instances. All Redis server instances store a copy of data.
  The difference between the two is that the slaves are usually read-only while the master 
  instance accepts reads and writes.</p>
  <div class="row">
    <div class="col-md-8">
     {# START Exercise #}
     <div class ="panel panel-warning">
      <div class="panel-heading">
       <h3 class="panel-title"><a name="E1"></a><strong>Exercise:</strong> Runtime Master and Slave instances</h3>
      </div>
      <div class="panel-body">
       <p>Open four command-line windows to run a Redis master, slave, and redis-cli instances</p>
       <p><strong>Redis Master</strong></p>
       <pre>
$ cd introduction-to-redis/09-replication-and-pub-sub/
$ ~/redis-2.8.18/src/redis-server --dbfilename master.rdb --port 6379      
       </pre>
       <p><strong>Redis Slave</strong></p>
       <pre>
$ cd introduction-to-redis/09-replication-and-pub-sub/
$ ~/redis-2.8.18/src/redis-server --dbfilename slave.rdb --port 6380
       </pre>
       <p><strong>Redis CLI</strong></p>
       <pre>
$ ~/redis-2.8.18/src/redis-cli -p 6379
127.0.0.1:6379> DBSIZE
(integer) 0
127.0.0.1:6379> exit
$
$ ~/redis-2.8.18/src/redis-cli -p 6380
127.0.0.1:6380> DBSIZE
(integer) 0
127.0.0.1:6380> SLAVEOF localhost 6379
OK
127.0.0.1:6380> exit
$
$ ~/redis-2.8.18/src/redis-cli -p 6379
127.0.0.1:6379> HMSET Book:1 name "Infinite Jest" author "David Foster Wallace"
OK
127.0.0.1:6379> exit
$
$ ~/redis-2.8.18/src/redis-cli -p 6380
127.0.0.1:6380> KEYS *
127.0.0.1:6380> KEYS *
1) "Book:1"
127.0.0.1:6380> HGETALL Book:1
1) "name"
2) "Infinite Jest"
3) "author"
4) "David Foster Wallace"
127.0.0.1:6380> HSET Book:1 copyrightYear 1996
(error) READONLY You can't write against a read only slave.
       </pre>
      </div>
     {# END Exercise #}
     </div>
     {# START Exercise #}
     <div class ="panel panel-warning">
      <div class="panel-heading">
       <h3 class="panel-title"><a name="E2"></a><strong>Exercise:</strong> Set-up of Master-Slave Replication with <em>redis.config</em></h3>
      </div>
      <div class="panel-body">
      </div>
     {# END Exercise #}
     </div>

    </div>
    <div class="col-md-4">
     <div class="alert alert-info">
       <strong>Facts about Master-Slave Replication</strong>
       <ul>
        <li>Master and Slaves use asynchronous replication</li> 
        <li>Master can multiple slaves</li>
        <li>Slaves can accept connections from other slaves (i.e. a slave could have as it's master a Redis instance that is slave to a master instance)</li>  
        <li>Replication is non-blocking on both master and slave instances; a master can continue to respond to queries while slaves are 
        synchronizing, a slave can be configured to respond to queries with old data while synchronizing with the master</li>
       </ul>
     </div>
     <h3>Critical Commands for Master-Slave Replication</h3>
     <ul class="list-group">
      <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/slaveof">SLAVEOF</a> <em>server</em> <em>port</em></strong>
      </li>
      <li class="list-group-item">
       <strong>TYPE <em>key</em></strong>
      </li>
     </ul>
    </div>
  </div>  
 </div>
</div>
<hr>
<h1>Pub/Sub (Publication/Subscription)<a name="pubsub"></a></h1>
<div class="row">
 <div class="col-md-3">
   <h3>Critical Commands for Pub/Sub</h3>
    <ul class="list-group">
     <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/subscribe">SUBSCRIBE</a> <em>channel</em> [<em>channel</em> &hellip;]</strong>
     </li>
     <li class="list-group-item">
      <strong><a href="http://redis.io/commands/publish">PUBLISH</a> <em>channel</em> <em>message</em></strong>
     </li>
     <li class="list-group-item list-group-item-success">
       <strong><a href="http://redis.io/commands/unsubscribe">UNSUBSCRIBE</a> [<em>channel</em> [<em>channel</em> &hellip;]]</strong>
     </li>
     <li class="list-group-item ">
       <strong><a href="http://redis.io/commands/psubscribe">PSUBSCRIBE</a> <em>pattern</em> [<em>pattern</em> &hellip;]</strong>
     </li>
     <li class="list-group-item list-group-item-success">
      <strong><a href="http://redis.io/commands/punsubscribe">PUNSUBSCRIBE</a>[<em>channel</em> [<em>channel</em> &hellip;]]
      </strong>
     </li>
    </ul>
 </div>
 <div class="col-md-9">
  {# START Exercise #}
  <div class ="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title"><a name="E3"></a><strong>Exercise:</strong> Pub/Sub</h3>
    </div>
    <div class="panel-body">
    <p>In this exercise, we will use <em>redis-cli</em> as a publisher and use the 
     a Python command line to run a consumer application using <span class="label label-success">PUBLISH</span>
     and <span class="label label-success">SUBSCRIBE</span> commands. The Python client 
     <em>redis-py</em> has its own Publish/Subscribe class with its own method calls for responding 
     to messages published to a channel.
    </p>
    <div class="row">
      <div class="col-md-6">
       <h4>Redis Python Subscription Client</h4>
       <pre>
>>> import redis
>>> local_redis = redis.StrictRedis()
>>> circ_consumer = local_redis.pubsub()
>>> circ_consumer.subscribe("checkouts", "checkins")
       </pre>
    
      </div>
      <div class="col-md-6">
       <h4>Redis <em>redis-cli</em> Publisher Client</h4>
       <pre>
127.0.0.1:6379> publish checkouts Book:3
(integer) 1
127.0.0.1:6379> publish checkouts Book:1
(integer) 1
127.0.0.1:6379> publish checkins Book:3
(integer) 1
127.0.0.1:6379> publish checkins Book:3
(integer) 1
       </pre>
      </div>
    </div>
   {# END Exercise #}
  </div>  
 </div>

</div>
<hr>
<div class="row">
 <h2>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/replication">Replication</a>
   </li>
  </ol>
</div>
{% endblock %}


