{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Security</h1>
  <p class="lead">Redis security model assumes that clients accessing Redis are 
  running in a protected, trusted environment with no direct public access. However,
  Redis does provide minimal clear-text password protection along with other 
  techniques that can provide some minimal level of security.
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
    <div class="panel panel-danger">
     <div class="panel-body">
      <h4>In this topic &hellip;</h4>
      <li><a href="#network">Network Security</a></li>
      <h4>Exercises</h4>
      <li><a href="#E1">Restricting access with a Firewall</a></li>
      <li><a href="#E2">Restricting access with a Password</a></li>
      <h4>Labs</h3>
       <li><a href="#lab1">Elf Kanban 4 Toys</a></li>
      <h4>Labs</h3>
      <li><a href="#lab1">Elf Kanban 4 Toys</a></li>
      <li><a href="#lab2">Santa's Naughty-or-Nice Dashboard</a></li>
      <h4><a href="#reference">References and Resources</a></h4>
     </div>
    </div>
 </div>
</div>
<hr>
<h2><a name="network"></a>Network Security</h2>
<div class="row">
  <div class="col-md-6"> 
   <p>
    With Redis general security model of only trusted clients accessing a Redis 
    server within a protected environment, there are some general guidelines
    to follow if the Redis is running on a computer with direct exposure to the 
    Internet (a common use-case when using a cloud server).
   </p>
   <ul>
    <li>Redis port (default is 6379) should be firewalled to prevent access from
        the outside</li>
    <li>Clients running should still be able to access Redis through the local 
        loopback interface.</li>
   </ul>
  </div>
  <div class="col-md-6">
   <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Restricting access with a Firewall<a name="E1"></a></h3>
    </div>
    <div class="panel-body">
      <p>In Ubuntu, the standard firewall is <a href="https://help.ubuntu.com/community/UFW">Uncomplicated Firewall</a>.
       To enable and check the status of UFW, run the following:
      </p>
      <pre>
$ sudo ufw enable
$ sudo ufw status verbose
      </pre> 
      <p>To allow connections on port 22 (ssh) and 80 (www)</p>
      <pre>
$ sudo ufw allow 22
$ sudo ufw allow 80
      </pre>
      <p>To deny all packets on the default Redis port 6379</p> 
      <pre>
$ sudo ufw deny 6379  
      </pre>
     <p>To remove the port 80 rule and disable UFW</p>
     <pre>
$ sudo ufw delete allow 80
$ sudo ufw disable
     </pre> 
    </div>
  </div>
</div>
<div class="row">
  <section class="col-md-6">
   <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Restricting access with a Password<a name="E1"></a></h3>
    </div>
    <div class="panel-body">
     <p>Redis does support limited restrictions to a running Redis instance by setting a 
     password in a <code>redis.conf</code> file or by sending the 
     <span class="label label-success">CONFIG SET</span> command.</p>
    </div>
  </section>
</div>
<hr>
{% import 'snippets/labs.html' as labs %}
<h1>Lab Assignment</h1>
<div class="row">
  <div class="col-md-6 well well-sm"><a name="lab1"></a>
   {% set kanban = 'For this lab, implement a master/slave set-up for this project' %}
  {{ labs.lab('Elf Kanban 4 Toys', 'img/toy64.png', kanban) }}  
  </div>
  <div class="col-md-6 well well-sm"><a name="lab2"></a>
   {% set dashboard = 'Create two subscription channels, a naughty channel where the child is given a piece of coal and a nice channel where the child 
gets a toy of her or his choice' %}
</div>
</div>

</hr>
<div class="row">
 <h2><a name="reference"></a>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/security">Redis Security</a>
   </li>
  </ol>
</div>
{% endblock %}
