{% extends 'base.html' %}

{% block body %}
<div class="row page-header">
 <div class="col-md-10 jumbotron">
  <h1>Transactions and Locks</h1>
  <p class="lead">
   While Redis is not a traditional relational database, Redis 
   does offer two features, transactions and locks, that can 
   help meet the various application requirements. 
  </p>
  {% include 'snippets/topic-nav.html' %}
 </div>
 <div class="col-md-2">
  <div class="panel panel-danger">
   <div class="panel-body">
    <h4>In this topic &hellip;</h4>
    <li><a href="#transactions">Transactions</a></li>
    <h4>Exercises</h4>
    <li><a href="#E1">Transactions with <em>redis-cli</em></a></li>
   </div>
  </div>
 </div>
</div>
<hr>
<div class="row">
 <div class='col-md-5 well well-sm'>
  <h1>Transactions <a name="transactions"></a></h1>
  <p class="lead">Redis supports <em>transactions</em>, defined as a 
  single unit of work made up of one or more commands that are not 
  affected by other Redis commands. Redis transactions are atomic meaning 
  of the transaction's commands are treated as a single unit of work. Redis
  transactions are isolated, transactions and external commands do not affect each 
  other. Finally, Redis transactions are durable in that once the transaction is 
  completed, all of the changes persist in the datastore.
  </p>
 </div>
 <div class="col-md-6">
   {# START EXERCISE #}
   <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Transaction with <em>redis-cli</em><a name="E1"></a></h3>
    </div>
    <div class="panel-body">
    Create two keys with initial values 
    <pre>
127.0.0.1:6379> HSET Movie:345 name "Saving Mr. Banks"
(integer) 1
127.0.0.1:6379> SET Movie:345:Likes 200

    </pre>
    <p>
    Use the <span class="label label-success">MULTI</span> command to start 
    the transaction:
    </p>
    <pre>
127.0.0.1:6379> MULTI
OK
127.0.0.1:6379> HSET Movie:345 copyrightYear 2013
QUEUED
127.0.0.1:6379> INCR Move:345:Likes
QUEUED
    </pre>
    <p>
     The <span class="label label-success">EXEC</span> command processes the transaction.
    </p>
     <pre>
127.0.0.1:6379> EXEC
1) (integer) 1
2) (integer) 201
     </rep>
    </div>
  {# END EXERCISE #}
  </div>
  {# START EXERCISE #}
  <div class="panel panel-warning">
    <div class="panel-heading">
     <h3 class="panel-title">Exercise: Transactions with <em>redis.py</em><a name="E2"></a></h3>
    </div>
    <div class="panel-body">

    </div>
  {# END EXERCISE #}
  </div>
 </div>
</div>
<div class="row">
 <h2>References and Resources</h2>
  <ol>
    <li>From the redis.io website: topic on
     <a href="http://redis.io/topics/security">http://redis.io/topics/security</a>
   </li>
  </ol>
</div>
{% endblock %}
